[2019-09-23 19:44] yochannah opened #1 "Design a logo for Open Life Science"
as part of the open life science program, we'll want a logo of some sort for our projects. What should it look like?

- would be nice to reflect aspects of openness as well as life science
- something that would work well as a sticker and as an icon, so not too complex

All ideas welcome - I'm also tagging this with the Hacktoberfest label so newcomers are welcome to suggest ideas (and we'll send

[2019-09-25 16:39] htmluke commented on #1
Hello! How could I participate? I can totally help you :)

[2019-09-25 16:50] bebatut commented on #1
Hi @htmluke! We are happy that you want to participate 😄
Let us know how we can help you

[2019-09-25 18:44] shbr commented on #1
Hi... i'll work in a logo propose. ASAP i have an idea i'll send to you

[2019-09-25 21:01] yochannah commented on #1
Wow, two volunteers already - thanks @htmluke @shbr! Feel free to share ideas as quick sketches or verbal descriptions first of all if it's easier ✨

[2019-09-26 17:57] malvikasharan opened #12 "Collecting example of potential projects"
[ ] Collect some of the Mozilla OL projects
[ ] Ask the experts and potential members

[2019-09-26 18:19] bebatut commented on #12
Maybe find some life science projects (not only bioinformatics oriented)

[2019-09-27 13:40] malvikasharan opened #16 "Collect topics that we can add in the program"
Here are a few proposals for community aspects, please indicate if you would like to include them and leave a comment below if there are any modifications required in the content

Current tracks:

- **Track: Technical-development**
- **Track: Culture-community**

@yochannah has opened a PR with proposed contents #23

[2019-09-27 13:44] malvikasharan opened #17 "Decide time for the cohort call"
- [ ] Ask in the interview
- [ ] Add in the application
- [ ] Add in the survey

[2019-09-27 14:50] bebatut opened #18 "Make the program more concrete"
- Collect some ideas for projects
- Add examples of mentees we would like to see in the program

[2019-09-27 14:54] bebatut opened #19 "Share our paths to MOL"
We could share our paths to MOL:
- Application
- What we learnt as mentee, outcomes on the projects, relationship with mentors, etc
but also the general outcome on other projects and work
- Mentor path: program for mentor, feeling of beeing a mentor, what we benefit from having been a mentor
- Invited speaker at cohort call
- Expert?
- Cohort host?

[2019-09-27 17:03] joelibaceta commented on #1
👍  nice I would like to share a logo propose too :) I'll work on that

[2019-09-27 17:18] yochannah commented on #1
@joelibaceta wow, awesome - thanks! :)

[2019-09-27 21:31] yochannah opened #20 "Create mentor, expert, mentee, guest facilitator commitment descriptions"
this will help people set expectations fairly

[2019-09-28 11:02] malvikasharan commented on #16
Track: Culture-community

1. Developing community strategy: Canvas (inspired by previous MOL)
- Possible contents: mission statement, objectives and goals - roadmap, resources available (communication, skills), setting governance - leaders, possible teams with their scopes, main contact people, list of tasks for community members with their outcome, simple workflow/checklist for your teams/communi

[2019-09-28 11:03] malvikasharan commented on #16
2. Creating a safe space
- Content: [Ally skill](https://frameshiftconsulting.com/ally-skills-workshop/), establishing an effective [code of conduct](https://frameshiftconsulting.com/code-of-conduct-book/), onboarding new members, contribution guidelines, attracting a diverse audience, disemminating responsibilities, mental health and burnout

Indicate if you have reviewed the topics:
[ ] @bebatut

[2019-09-28 11:05] malvikasharan commented on #16
3. organising/attending Community engagement events
- Content: identifying engagement strategies, designing online/in-person meetings (from a selection of format to choose from), training events,  designing posters, writing abstract (suggested by @yochannah), designing your talk, preparing to run conference sessions or the entire conference

Indicate if you have reviewed the topics:
[ ] @bebatut
[

[2019-09-28 11:05] malvikasharan commented on #16
4. Community assessment
- Content: tracking the success of teams/projects, designing survey, assessing the needs of your contributors, handling feedback, maintaining transparency, using social media for community outreach, exchanging notes with other leaders, documenting and sharing your periodic reports (mix it with data visualisation), identify effective tools for these tasks, reviewing current

[2019-09-28 11:24] malvikasharan opened #24 "Create invitation for the experts and mentors"

[2019-09-28 11:25] malvikasharan opened #25 "Invite Emmy T. to discuss if we have a common mentor/expert pool"

[2019-09-29 17:17] yochannah commented on #16
If we like and agree on these, I would be happy to start building call agendas for each of the calls.

[2019-09-29 17:20] malvikasharan commented on #16
Thank you so much Yo. Thanks for putting these in the agenda. <3

[2019-09-29 17:21] yochannah opened #26 "Tooling - call hosting documents?"
Some suggestions:
- Etherpad (e.g. from the carpentries or software freedom conservancy - slightly problematic that we don't have our own)
- HackMD (My preferred choice, works nicely for Whitaker Lab calls but is there a learning curve?)
- Google Docs

@malvikasharan @bebatut what do each of you prefer? I'm fine with any but like HackMD the best of all the options- it's collaborative, easy to inse

[2019-09-29 17:39] yochannah opened #28 "Mailing lists?"
- [ ] pick a mailing list tool. Ideally an openish one that doesn't track people loads.

Things we may want lists for:

- [ ] public/general for people to hear when applications open
- [ ] eventually we'll want ones for ...
   - [ ] mentors
   - [ ] experts
   - [ ] mentees

[2019-09-29 17:48] yochannah commented on #20
this was satisfied by https://github.com/open-life-science/open-life-science.github.io/commit/c3d4341fae4028c9c57ac3b427aaec0b5ffe686f

[2019-09-29 17:48] #20 closed

[2019-09-30 08:17] malvikasharan commented on #28
The carpentries uses Discuss mailing list which seems to work quite well. Not sure if there is a cost for that.

[2019-09-30 08:20] malvikasharan commented on #26
here is a European Etherpad: https://yourpart.eu. I like Etherpad and Google doc quite a lot (ore than hackMD), google doc is a bit more anonymous and easy to keep track of.

My preference will be for google doc.

[2019-09-30 16:46] yochannah commented on #26
Okay - spoke to @bebatut - she agrees that Google Docs is easier :) Google Docs it is

[2019-09-30 16:48] #26 closed

[2019-09-30 16:52] yochannah commented on #28
Some options -

- google groups
- mailman (requires hosting)

[2019-10-01 13:43] htmluke commented on #1
Nice! @bebatut do you have any document about your project? Something that describes the idea behind the project or explains what's the concept? Thanks for the oportunity <3

[2019-10-01 14:02] bebatut commented on #1
We have a website (https://openlifesci.org/) in which we describe the project.
Let us know if you have questions or if something is not clear. Thanks a lot!

[2019-10-02 07:27] bebatut opened #31 "Learning objectives for the syllabus"
Feel free to add suggestions here. I will update this comment with them.

---
Our participants will be able to:
- Describe and define the terms *openness* and *open science*
- Cite types of openness in science
- Design
  - Illustrate the need for a project, its vision, and its goals
  - Embrace and communicate the benefits of openness and how to strategically apply different open practices to thei

[2019-10-02 07:28] bebatut opened #32 "Community Participation Guidelines in the syllabus"
Current structure:
- Participation Guidelines
- How to treat each other
- Inclusion and Diversity
- Raising Issues

Feel free to add suggestions for content

[2019-10-02 19:03] yochannah commented on #25
We discussed this and shared on monday - the pool overlaps a little but doesn't overlap _all_ that much. it's probably not too much to worry about :)

[2019-10-02 19:03] #25 closed

[2019-10-02 19:39] yochannah opened #33 "Choose application platform"
My vote is with Easychair - it's free, will be familiar to many of our applicants, and allows mentors / "reviewers" to indicate conflicts of interest clearly.

My next best preference would be google docs :) apply on a google form, make notes and selections in a spreadsheet

[2019-10-03 16:34] bebatut opened #34 "Roadmap for applications"
Before opening applications (deadline 25.10.19)
- Applications
  - [x] Choose application platform (#33) (Yo to set up)
  - [x] Create application forms (questions, etc) (Yo to set up)
  - [x] Create review criteria (based on application forms) - Bérénice
- Comm
  - [x] Write and publish blog post with Emmy - Malvika will draft, Yo will review with Emmy
  - [x] Prepare email to send to mailing lis

[2019-10-03 16:45] bebatut commented on #33
Easychair sounds good. Did one of you already use it as organizer? Was it ok?
Is it for free?

[2019-10-03 16:53] yochannah commented on #33
yes, yes, and yes! :)

[2019-10-03 18:03] malvikasharan opened #36 "visible buttons for Code of Conduct and Community Participation guidelines"

[2019-10-04 17:53] sara-02 opened #37 "[Broken Link][Get Involved-Roadmap]"
The hyperlink of the `roadmap` mentioned under the [get involved](https://openlifesci.org/about#get-involved) section of the website returns a 404.
Current Roadmap hyperlink: https://github.com/open-life-science/open-life-science.github.io/blob/master/roadmap.md

[2019-10-04 17:54] sara-02 commented on #37
Maybe it can be directed to #34 for the time being to a new project board here: https://github.com/open-life-science/open-life-science.github.io/projects

[2019-10-06 13:03] bebatut commented on #36
Do you mean in the navigation on the top?

[2019-10-06 13:10] malvikasharan commented on #36
This came up in the last cohort call. We can discuss where on the page it fits.

[2019-10-07 16:36] malvikasharan opened #38 "Decide question for the application"
Add the questions from the MOL7 and collecte a few example.

[2019-10-07 16:38] malvikasharan opened #39 "Rubric for selection"
Berenice will add from her last review

[2019-10-07 16:42] yochannah opened #40 "syllabus - add self evaluation before/after"
surveys

[2019-10-07 16:46] yochannah commented on #12
this coud be
- creating an open source bioinformatics tool
- running a life science journal club....

[2019-10-07 16:49] malvikasharan opened #41 "Mozilla Demo Call projects relevant to Life Science"
Extract some past MOL projects.

[2019-10-07 16:59] bebatut commented on #12
Check the previous demo calls and extract the ones related to life science

[2019-10-08 07:09] bebatut opened #43 "Write and publish blog post with Emmy"

[2019-10-08 07:11] bebatut opened #44 "Set up application platform"
Given the choice in #33

[2019-10-08 07:15] bebatut opened #45 "Prepare email to advertize the program to send to mailing lists"
Mentioning the pre-application webinar

Which mailing list?

- [ ] SSI
- [ ] The Carpentries discuss channel (& newsletter)
- [ ] OBF
- [ ] Life Science Training slack
- [ ] Galaxy mailing list: developers, training
- [ ] de.NBI
- [ ] ELIXIR training platform
- [ ] Backofen lab
- [ ] SFBI (french bioinformatics mailing list)
- [ ] EMBL
- [ ] Turing Way newsletter

[2019-10-08 07:19] bebatut opened #46 "Schedule pre-application webinar"

[2019-10-08 07:24] bebatut opened #47 "Create flyer"
In collaboration with Emmy: one side for her program, one side for our program

Waiting for logo #1 to use same colors, fonts, etc

[2019-10-10 16:39] malvikasharan commented on #45
SSI, The Carpentries discuss channel, twitter, personal invites, OBF (confirm next week), life science training slack

[2019-10-10 16:43] bebatut commented on #45
I added few others. Feel free to edit the comment to add more

[2019-10-10 16:45] bebatut opened #49 "Create a mentor handbook"
I have a copy of the one for MOL7 that we could use as example

[2019-10-10 16:49] yochannah opened #50 "Create mentor/expert registration form"
following on from #24, potential mentors should be able to express and update their preferences - probably via google form? I'll check if this can also b emanaged in easychair first, given #33

[2019-10-10 16:51] bebatut opened #51 "Add benefits for mentors"
It seems not clear the incentives for mentors.

We could emphasize:
- the mentoring training
- what mentors could gain from the program, in term of skills (it may help to get support from a manager and help dedicating more time

[2019-10-11 15:15] bebatut opened #53 "Announcement of the program for MozFest"
We need to draft an announcement for the program that will eventually be posted to Mozilla Pulse & this language will appear in MOL promotions

It should include:
- Title (80 characters)
- URL
- Description: Simple, brief language works best. No jargon. (600 characters)

[2019-10-11 15:22] bebatut commented on #39
The document (named "Application review rubric") is in the Gdrive folder in folder "Application"

[2019-10-11 16:18] bebatut commented on #16
Looks good. I am just a bit afraid for the 3rd point that it will be already a lot on the week 6.

Do you want to add them in the agenda for the schedule in the syllabus? We could also already start a Gdoc per cohort call to aggregate the content there.

[2019-10-11 16:21] malvikasharan commented on #16
I agree. We might be able to prioritize what to focus on and what can be offered as resources for later.

[2019-10-13 15:57] yochannah commented on #50
https://docs.google.com/forms/d/1o0GSbDW6xx6gKay-ba3e4Z4FHdmxcufbcgYyWJXnrLo/edit

[2019-10-13 16:16] yochannah commented on #39
This looks great to me!

[2019-10-13 16:49] yochannah opened #55 "email address - how do people contact us?"
@bebatut I recall you saying it looked tricky to get email hosting running which makes sense, but I had a poke about and managed to set up email forwarding.

We should set up a collective email, e.g. team@openlifesci.org or something similar. Any preferences, @bebatut @malvikasharan ?

We'd have to set up a google group or something to distribute the email to all three of us since I think the emai

[2019-10-13 17:02] malvikasharan commented on #55
Google group sounds like a good idea. I can’t think of other free options for this.

[2019-10-13 17:06] yochannah commented on #38
I couldn't find the OL7 questions, but after some digging I found the OL4 application form which appears to still be open (lol).

It actually had quite a lot of questions - I've slimmed it down a little - my draft is in the applications folder in the root of our shared drive.

[2019-10-13 17:15] yochannah commented on #55
okay, group set up and team@openlifesci.org forwarding set up to to point to it 👍 we can rename the group alias if we have any better ideas.

[2019-10-13 17:16] yochannah commented on #33
closing this on the assumption it'll be easychair

[2019-10-13 17:16] #33 closed

[2019-10-13 17:17] #51 closed

[2019-10-13 17:17] #31 closed

[2019-10-13 18:18] malvikasharan commented on #55
Awesome. I am on my way back from London.

Will check it out when I get home :)

On Sun 13. Oct 2019 at 18:15, Yo Yehudi <notifications@github.com> wrote:

--

[image: --]
Malvika Sharan
[image: http://]about.me/malvikasharan
<http://about.me/malvikasharan?promo=email_sig>

[2019-10-15 14:10] bebatut commented on #36
It should be fixed now with #35

[2019-10-15 14:10] #36 closed

[2019-10-15 14:10] bebatut commented on #32
It should be fixed now with #35

[2019-10-15 14:10] #32 closed

[2019-10-15 14:18] bebatut commented on #39
It was approved yesterday by both @malvikasharan and @yochannah. Feel free to reopen the issue if you want to discuss more about it

[2019-10-15 14:18] #39 closed

[2019-10-17 18:18] bebatut opened #59 "Mentoring training"

[2019-10-17 18:19] bebatut commented on #49
To add (from cohort call):

- Starting your Mentoring Relationship Checklist
  - Matching
  - Before the meeting
  - The first meeting
  - Share your story
  - Discuss Communication Styles
  - Set Goals
  - Establish the Flow
- The commitment - Before embarking on a mentoring relationship, be sure that you have the time and energy to dedicate to your mentee.
  - Provide mentors with opportunities

[2019-10-18 09:37] bebatut commented on #53
Title: Open Life Science
URL: https://openlifesci.org/
Description: The Open Life Science program helps early stage researchers and young leaders in becoming Open Science ambassadors. Participants of this 15-week mentoring & training program will learn essential knowledge required to create, lead, and sustain an Open Science project, connect with members across different communities, backgrounds,

[2019-10-18 14:22] bebatut commented on #37
Thanks @sara-02 for reporting this broken link. As you suggested, I replaced it by a link to the project board

[2019-10-18 15:08] #37 closed

[2019-10-18 15:09] #18 closed

[2019-10-18 15:09] #41 closed

[2019-10-18 15:11] #12 closed

[2019-10-18 15:11] yochannah commented on #50
I feel that generally fewer questions (and less work for mentors) is kinder to them - but if we feel it's really important info then we should go ahead.

[2019-10-18 15:17] yochannah commented on #53
Great, but I'd remove the word young. It's often the same as ECR, but not always, and it might exclude people who don't feel they're young enough. The last sentence is also very long - how about this?

We are recruiting for our first cohort to start in January 2020, but also mentors and open science experts.

Other than than, it's brilliant. ⭐️

[2019-10-18 15:20] bebatut commented on #50
We could add just the first question and does not make it mandatory (mentionning that it is only to help us attributing the reviens)

[2019-10-18 15:27] bebatut commented on #53
Thanks for the review. I posted it on Slack

[2019-10-18 15:31] yochannah commented on #50
works for me!

On Fri, Oct 18, 2019 at 5:20 PM Bérénice Batut <notifications@github.com>
wrote:

[2019-10-18 15:31] bebatut commented on #55
We have now hello@openlifesci.org and team@openlifesci.org
hello@openlifesci.org is on the contact on the website now (#58)

[2019-10-18 15:31] #55 closed

[2019-10-18 16:05] bebatut commented on #47
![flyer](https://user-images.githubusercontent.com/1842467/67109932-e2f9ee80-f1d1-11e9-81cd-c75403b70c52.png)

[2019-10-21 07:02] bebatut commented on #53
We need now to post it on [Mozilla Pulse](https://www.mozillapulse.org/add?tags=olx) ahead of the pitch!

[2019-10-21 12:00] bebatut commented on #1
We have now a logo (thanks to @htmluke)

[2019-10-21 12:00] #1 closed

[2019-10-21 15:50] bebatut commented on #47
Done

[2019-10-21 15:50] #47 closed

[2019-10-21 16:24] yochannah opened #71 "Twitter: add logo and schedule some tweets"
- [x] Add Logo
- [x] Add info
- [x] Schedule tweets

[2019-10-21 16:27] yochannah commented on #43
https://docs.google.com/document/d/1EkFK5rcK2j-8e3nneQVGljMGhZJpRijX80osGcCmesc/edit

[2019-10-21 17:02] bebatut commented on #50
We are good with the form

[2019-10-21 17:02] #50 closed

[2019-10-21 17:03] bebatut commented on #38
All questions are in the Google doc (as a possible template for applicants)

[2019-10-21 17:03] #38 closed

[2019-10-21 22:08] yochannah commented on #44
resubmitted to easychair - hopefully they'll accept us this time

[2019-10-22 13:58] bebatut commented on #53
Thanks to @yochannah, it is now on Pulse

[2019-10-22 13:58] #53 closed

[2019-10-22 14:00] bebatut commented on #44
It is now up (https://easychair.org/cfp/ols-2020). Thanks @yochannah

[2019-10-22 14:24] bebatut commented on #24
The invitation is ready and sent!

[2019-10-22 14:24] #24 closed

[2019-10-22 22:49] malvikasharan commented on #71
I will be working on scheduling tweets tomorrow. And maybe add some more with you on Thursday:)

[2019-10-23 10:32] malvikasharan commented on #16
Syllabus has been updated and finalised: https://openlifesci.org/syllabus

[2019-10-23 10:32] #16 closed

[2019-10-23 10:37] malvikasharan opened #75 "Create online forum"
- [ ] Connect Gitter to the GitHub
- [ ] Slack in future?

[2019-10-23 10:49] malvikasharan commented on #75
Gitter - not connected yet: [![Gitter](https://badges.gitter.im/OpenLifeSci/community.svg)](https://gitter.im/OpenLifeSci/community?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge)

Need review and permission.

[2019-11-13 22:53] yochannah commented on #71
I have a few scheduled in tweetdeck - now we just need to monitor and respond to any queries!

[2019-11-13 22:53] #71 closed

[2019-11-13 22:54] yochannah commented on #46
It's live! Agenda and joining details here: https://docs.google.com/document/d/1EIDzZi5mgRiWR7cJQl0up470C87GsbcoTR_6-cs-SeE/edit

[2019-11-13 22:54] #46 closed

[2019-11-13 22:54] yochannah commented on #59
Tentative plans to share this with @emmy_ft and others from OLX...

[2019-11-13 22:55] yochannah commented on #43
Live here: https://www.open-bio.org/2019/11/12/supercharge-your-open-project-with-leadership-training/

We're also trying to cross-post with the SSI

[2019-11-13 22:55] #43 closed

[2019-11-25 07:03] malvikasharan opened #83 "Send an email to the mentors and experts"
The draft is created in the communications folder of the organisers documents.

[2019-11-25 11:02] bebatut opened #84 "Add a page for each week of the program"

[2019-11-25 18:11] malvikasharan opened #85 "Add sponsor's roles in future"
- Separate sponsors and partners online
- Disambiguate the roles of partners and add details of the sponsors before the next round

[2020-01-09 00:17] #83 closed

[2020-01-09 00:18] #45 closed

[2020-01-09 00:18] #19 closed

[2020-01-10 07:16] lazycipher opened #88 "Wrong weekly program urls on Schedule page."
I noticed that the URLs on the Schedule page are wrong and throwing 404 errors.
I found that the weekly URLs that are mentioned are like https://openlifesci.org/week01 which should be https://openlifesci.org/ols-1/week01/

[2020-01-12 11:05] #88 closed

[2020-01-29 12:40] #34 closed

[2020-01-29 16:42] SamGuay opened #106 "Update landing page"
I think it could be great to update the landing page because it can be misleading for people unaware of the program. (Just happened with my PI :sweat_smile:)

Here's some stuff that could be change to reflect the state of the program as of now:
* Change the Application section (from open to closed)
* Maybe change the verb tenses from future to present?

Another simple fix would be to redirect the

[2020-01-29 17:41] bebatut commented on #106
Thanks @SamGuay for pointing it. I was planning to do it but time ran... :smile:

[2020-02-03 17:56] #106 closed

[2020-02-26 21:52] #17 closed

[2020-02-26 21:52] #28 closed

[2020-02-26 21:52] #40 closed

[2020-02-26 21:52] #84 closed

[2020-03-09 11:46] #59 closed

[2020-03-09 11:58] yochannah opened #116 "Add community captioning to our YouTube recordings."
One of the great things about shared recordings is that others can follow along without being present at the cohort calls. In order to make our calls as accessible as possible,

### How do I add captions?
Visit [our YouTube captioning link](http://www.youtube.com/timedtext_cs_panel?c=UCs12-ZgnDJOWIWN3Vo1XHXA&tab=2) and choose a video to caption! You can probably copy the existing transcript and ju

[2020-04-04 12:10] sk-sahu opened #122 "Google group mailing list permission issue"
The **Subscribe to our announcements list**  link to google group in the footer section of website results in this following error

[code]

[2020-04-12 16:57] yochannah commented on #122
@sk-sahu we've made changes - hopefully you can view now. Thanks for reporting this!

[2020-04-12 16:57] #122 closed

[2020-05-08 13:05] bebatut opened #137 "Update pool of mentors"
- [x] Ask OLS-1 participants
- [x] Ask OLS-1 mentors
- [x] Ask previously interested people

[2020-05-20 22:38] da5nsy opened #143 "Formatting issue in participant descriptions"
Currently the formatting of the [OLS1 participants section](https://openlifesci.org/ols-1/projects-participants/#participants) seems to be broken (code appearing where it presumably should not.
Screenshot below.

Windows 10 - Firefox/Chrome/Edge

![Screenshot 2020-05-20 18 35 55](https://user-images.githubusercontent.com/3739866/82504195-c657c900-9ac8-11ea-8d60-e42057d17fce.png)

[2020-05-22 14:07] bebatut commented on #143
Thanks a lot @da5nsy for reporting this issue.
They are some debugging leftover. It should be fixed with #145

[2020-05-22 16:23] #143 closed

[2020-05-28 10:28] bebatut opened #147 "Fixes to do for the stories"
- [x] Display correct author names (broken when we changed the `people.yaml` to use first and last names instead of names only)

  ![Screenshot 2020-05-28 at 12 23 57](https://user-images.githubusercontent.com/1842467/83130188-388a6800-a0de-11ea-9c97-d9715e0f6474.png)

- [x] Use the date of the post instead of the last modified one (plugin not available on GitHub page and then not rendered online)

[2020-05-28 10:33] bebatut opened #148 "Create an event page..."
.. to display events to which we participates (talks, workshops, etc), with links to resources (slides, etc). It could be a way to keep track of them.

We could store the information in a YAML file in the `_data` folder, and display them as a table on a dedicated page linked on the header.

What do you think?

[2020-05-28 10:33] bebatut opened #593 "Create an event page..."
.. to display events to which we participates (talks, workshops, etc), with links to resources (slides, etc). It could be a way to keep track of them.

We could store the information in a YAML file in the `_data` folder, and display them as a table on a dedicated page linked on the header.

What do you think?

[2020-05-28 12:15] yochannah commented on #148
this sounds perfect!

[2020-06-09 14:57] bebatut opened #151 "TODO from BCC talk reviews"
- Document the website structure, how to modify the schedule or people
- Point in "The program itself" to the syllabi of OLS-1 and OLS-2

[2020-06-22 16:15] bebatut commented on #148
- RDA talk
- BCC talk

[2020-06-22 16:16] yochannah commented on #148
- SSI all fellows Nov 2019

[2020-06-22 16:19] malvikasharan commented on #148
Talks:
- Talk at Turing
- Talk at Manchester
- Talk at SSI
- Talk CW20: Yo

Online shout outs:
- Turing Research in focus: TBA
- OSUM: Samuel

[2020-06-25 20:57] #137 closed

[2020-06-25 21:02] bebatut opened #156 "Display expertise in people card"
as information has been added to `people.yaml`

[2020-06-25 21:03] bebatut opened #157 "Ask people to review for missing information"

[2020-06-25 21:13] bebatut opened #158 "Simplify the task of adding people"
- Ask the information needed in the `people.yaml` in the mentor/expert form
- Write a script to extract and format the people information from the form answer spreadsheet

[2020-06-30 12:59] bebatut opened #164 "Ask for mentor / expert to check their information"
Hi,

All information about mentors and experts are listed in the [`_data/people.yaml`](https://github.com/open-life-science/open-life-science.github.io/blob/master/_data/people.yaml). Some are missing for some people and we would love to have them to help us to assign mentors to projects and later to help mentors and mentees to find experts.

Mentors, experts,
We would love you to check your infor

[2020-07-02 09:57] bebatut opened #166 "Use they/them in people description except if the pronouns are given"

[2020-07-02 14:00] malvikasharan opened #169 "Fix the profile boxes to contain text"
# Profile boxes online appear a bit glitchy

Some text from the text box seem to skip (not contained)

![image](https://user-images.githubusercontent.com/5370471/86368072-aba27380-bc74-11ea-98a1-4f762a612c88.png)

[2020-07-07 21:22] bebatut opened #170 "Update the landing page with OLS-2 applications closed"

[2020-07-24 00:29] Sulstice opened #172 "Github badge"
Would be sick to have a badge associated with open life science!

[2020-07-24 02:10] Sulstice commented on #172
[![OSL](https://img.shields.io/badge/Supported%20By-Open%20Life%20Science-20b85f.svg)]()

as a start?

[2020-07-24 16:14] yochannah commented on #172
Looove it @Sulstice! Made a few tweaks to include some alt text for screen readers and fixed it to link to the OLS homepage - also added a few more for specific cohorts and roles. What do you think? Also, where should we put this - the OLS homepage readme?

[code]
[![OLS-1 - part of Open Life Science](https://img.shields.io/badge/OLS--1-Open%20Life%20Science-20b85f.svg)](https://openlifesci.org/ol

[2020-07-24 16:17] Sulstice commented on #172
Ya! These look awesome! I also have something I can try tonight. I took your svg from your website and I believe I can host the badge online with your logo. Maybe deploy to a free service like vercel or heroku

[2020-07-24 16:33] yochannah commented on #172
I think we can probably just use https://shields.io/ - no need for any extra service unless I'm missing something? (this is entirely possible 😆 )

[2020-07-26 13:07] Sulstice commented on #172
Hey @yochannah Sorry for the delay in response~ (currently moving states so its a little hairy of when I get computer time). I wanted to get your logo embedded into the badge.

I did try with the img shields and others but my main issue was actually the svg hosting of your logo that wasn't blocked. If you use github/gists I get a lot of content blocks :(. So I was thinking we can deploy a simple f

[2020-07-26 17:12] yochannah commented on #172
Ahhhhh, that makes sense! The logo is really supposed to go on a white background - I wonder if there's a way to make the background lighter on the left?

[2020-07-27 17:26] yochannah commented on #156
this was added in one of our previous PRs!

[2020-07-27 17:26] #156 closed

[2020-07-27 17:45] lauracion commented on #164
Nice! Thank you! My GH user is not listed yet, so I am wondering if I should add myself here or not 😃 Thank you!

[2020-07-27 17:47] yochannah commented on #164
@lauracion please do, and let us know if you need any help! 💚

[2020-07-27 18:02] bebatut opened #179 "[css fix needed] Bug: people avatars not visible on community page for small screen"
In the page https://openlifesci.org/community, the people avatars are not visible on small screen

![Screenshot_20200727-200132_Firefox](https://user-images.githubusercontent.com/1842467/88575399-195b7880-d044-11ea-8c45-2509da6fa7db.png)

It should like:

![Screenshot 2020-09-28 at 17 41 07](https://user-images.githubusercontent.com/1842467/94454503-36323a80-01b2-11eb-96c5-1733ece5dbcf.png)

[2020-07-27 18:52] sgibson91 commented on #164
Reviewed my entry and it looks great, thanks! 👾

[2020-07-28 07:22] klauer2207 commented on #164
Thank you, all fine on my profile!

[2020-07-28 08:40] burkemlou commented on #164
Hi, there a couple of things needed on my profile.

Country: Australia
Expertise: add 'e-learning'
Life-science expertise: add 'parasitology', 'microbiology', 'host-pathogen interactions'
Bio: My name is misspelled, it should be Melissa.

Thanks!

[2020-07-31 07:26] yvanlebras commented on #164
Perfect on my side

[2020-08-11 08:41] ArielleBL commented on #164
Hi there, the two required bits missing from my profile are:

    **affiliation: University of Cambridge
    country: UK**

Otherwise all looks great thanks!

[2020-09-01 09:07] bebatut commented on #158
fix #190

[2020-09-03 10:07] bebatut commented on #151
First point should be partially fixed with #191

[2020-09-24 21:46] malvikasharan opened #197 "Update schedule"
# Summary

- [ ] week-5: Skill-up: GitHub tutorial
- [ ] week-9: Skill-up: Ally skills and self-care workshop: Make it an open call for mentors and mentees
- [ ] Week 12: Update career sessions a panel only
- [ ] Week-13: Skill-up: creative writing and storytelling for final presentation

[2020-09-24 21:46] malvikasharan commented on #197
I can find some time in the weekend to create this PR. But if someone's up to update it earlier, please go ahead.

[2020-09-28 15:22] yochannah opened #198 "add project participant status"
add a status field for each participant, with three statuses available to all ols-2 participants: active, inactive, or graduated

[2020-09-28 15:29] yochannah opened #199 "Add google translate button to homepage"
This should probably go in the footer of the site so it'a accessible for anyone (or some other prominent but standard place) - see https://www.dummies.com/education/internet-basics/how-to-install-google-translates-website-translator-plugin/ for more info.

[2020-09-28 15:37] #158 closed

[2020-09-28 15:40] bebatut opened #200 "Add page to collect testimonies about the program"
We have some testimonies about the impact of OLS on people, e.g. https://twitter.com/_lacion_/status/1310290749536137216.
It would be nice to have some available on the website.

[2020-09-28 16:03] yochannah opened #201 "Add consultancy page to the site"
We can offer in-house tailored workshops (e.g. an ally workshop) or full OLS-style programs to institutions who are able to pay. We should make this clear on the site.

[2020-09-28 16:04] yochannah commented on #116
community captioning is being discontinued by youtube anyway. closing this issue.

[2020-09-28 17:08] devil-cyber commented on #199
I would like to work on this. It would be great if you could assign this to me

[2020-09-28 18:01] yochannah commented on #199
@devil-cyber fabulous, go ahead! 😍

[2020-09-28 22:00] #116 closed

[2020-09-29 04:50] devil-cyber commented on #199
@yochannah I am not able to run the project in my local machine due to various dependency issues and the miniconda installation file that is present in the readme.md

[2020-09-29 08:18] yochannah commented on #199
@devil-cyber I feel for you, resolving dependencies can be a real pain sometimes 😭 I have a couple of suggestions:

1. you could try sharing the errors and we could try to help your troubleshoot
2. you could try enabling github pages for your fork of the repo and try testing your code that way

If you'd rather put this task down and let someone else pick it up that's fine too - whatever your prefe

[2020-09-29 09:46] devil-cyber commented on #199
Ok i will share the issue 😀

On Tue, Sep 29, 2020, 1:48 PM Yo Yehudi <notifications@github.com> wrote:

[2020-09-29 16:04] yochannah commented on #199
okay - this issue is open for any contributor to pick up again :)

[2020-10-05 11:30] bebatut opened #203 "Add call hosts in schedule"

[2020-10-07 19:17] bebatut opened #210 "[JS hack][Jekyll hack] Add info of people in community page"
Currently in the community page (https://openlifesci.org/community), only avatar of people is shown.

1. It would be nice to add information about people (as in other location like https://openlifesci.org/ols-2#mentors)
2. Information about their roles in the different cohort could be added (e.g. mentor in OLS-1). This information can be extracted from the files in `_data`
3. Detailed information

[2020-10-15 15:11] DDuplinszki commented on #179
Hi there! Can I work on this issue?

[2020-10-15 15:12] yochannah commented on #179
@DDuplinszki amazing - yes, please do! 🙌  let us know if you have any questions.

[2020-10-19 14:49] bebatut commented on #179
@DDuplinszki fixes it with #214

[2020-10-19 14:49] #179 closed

[2020-10-19 16:32] #147 closed

[2020-10-26 10:14] bebatut commented on #197
Done by @malvikasharan in #212

[2020-10-26 10:14] #197 closed

[2020-10-26 11:33] bebatut commented on #169
I can not reproduce that issue. @malvikasharan is it still the case for you?

[2020-10-26 21:16] #203 closed

[2020-10-27 17:26] malvikasharan opened #219 "Co-mentoring docs"
- clarify roles for co-mentors so there is a clear lead / secondary mentor (need better word than secondary)
- Prompt co-mentors to pre-meet before meeting mentee to agree strategy. Maybe have template for this meeting.

[2020-10-27 17:26] malvikasharan opened #220 "Parental break policy"
- What should a mentor do when they need to go on a parental leave
- What does OLS do to support them

[2020-10-27 17:27] malvikasharan opened #221 "Promotion kit for participants"
- So that they can talk about OLS
- they can highlight their work
- they can help other members to join

[2020-10-27 17:28] malvikasharan opened #222 "tools: project management for OLS"
Options to choose from:

- Asana (B2B production)+GDrive+GitHub = can be managed by Zapier (often free)
- Slab (offload things from google drive) and Notion (all integration, templates+database, online, cheap - works with Zapier)
- End platform: Trello, Asana (both free and paid work fine, 5 email addresses are needed to open a team), Jira (paid)

[2020-10-27 17:29] malvikasharan opened #223 "OLS confidentiality policy"
- what is our confidentiality policy?

[2020-10-27 17:30] malvikasharan opened #224 "OLS governance for 2021"
- This will be useful when thinking about our budget in 2021

[2020-10-28 11:38] bebatut commented on #75
I think this issue is outdated. Feel free to reopen if not

[2020-10-28 11:38] #75 closed

[2020-10-28 20:46] yochannah commented on #220
probably should apply to anyone in OLS, not just mentors (e.g. call hosts, mentees)

[2020-10-28 21:06] #170 closed

[2020-11-11 23:02] yochannah opened #227 "Add legal status to website"
we get a lot of enquiries about our legal status, we should add a note (to the footer?) that we are a legal entity. Something like:

[2020-11-30 16:31] malvikasharan opened #233 "Create a separate page for collaborators, sponsors and partner"
Create a separate page that has the following sections:

- Collaborators
- Sponsors
- Partners

Think about how we indicate their support for different rounds.

[2020-12-02 14:28] jezcope opened #235 "Fix Easychair link for OLS-3"
Not sure if I've understood this right, but I thought the "Easychair" links on [this page](https://openlifesci.org/) would take me to Easychair, but they both seem to go back to <https://openlifesci.org/> instead — is that right?

[2020-12-02 22:10] #235 closed

[2020-12-02 22:11] yochannah commented on #235
Good spot, @jezcope and thankyou! 🌷

[2020-12-07 11:50] bebatut opened #237 "Full menu not accessible on smartphone"

[2020-12-07 11:52] bebatut opened #238 "Css to fix on posts page on smarthpone"
![Screenshot_20201207-125123.png](https://user-images.githubusercontent.com/1842467/101347859-fa3ee400-388a-11eb-81cb-a6ed4f6d7834.png)

[2020-12-07 11:52] bebatut commented on #238
![Screenshot_20201207-125226.png](https://user-images.githubusercontent.com/1842467/101347937-1b073980-388b-11eb-97f0-7536fd55692d.png)

[2020-12-10 01:16] da5nsy opened #239 "Broken schedule links"
One [the schedule page]

[2020-12-10 01:17] #239 closed

[2020-12-10 01:18] da5nsy commented on #239
Please delete this issue.

[2021-01-04 20:02] da5nsy opened #245 "Missing event from OLS2 schedule page"
'Cohort call: Final presentations & Graduation! - Group 2' missing from https://openlifesci.org/ols-2/schedule/ for some reason.
It exists as an entry [here](https://github.com/open-life-science/open-life-science.github.io/blob/master/_data/ols-2-schedule.yaml) and I see no obvious reason as to why it would be excluded (formatting issue etc.).

[2021-01-05 09:22] bebatut opened #246 "Add a space to collaborately collect interesting resources"
On the Slack, people are sharing interesting resources, which is great. But it may difficult to keep a track of these resources, specially with the limited Slack history.

It may be interesting to have these resources listed somewhere. They may be useful for the community in general.

What do you think? How could we do that?

One idea (we use this approach in a collaborative blog I manage):
- One

[2021-01-05 10:50] bebatut opened #249 "Organize mentors and experts in cohort page by expertise areas"
- Extract all expertise areas of mentors for a cohort from their profile in `people.yaml` file
- Sort these areas
- Display mentors and experts given these areas

It will help to
- Match project to mentors
- Find experts for talks but also for expert calls

[2021-01-07 21:38] #245 closed

[2021-01-09 15:53] #210 closed

[2021-01-12 21:09] #249 closed

[2021-01-19 13:36] malvikasharan commented on #151
This is outdated.

[2021-01-19 13:36] #151 closed

[2021-01-19 13:51] malvikasharan commented on #148
- podcast: https://www.podbean.com/media/share/pb-b6k74-f1f4bd
- blogs:
  - program launch: https://www.software.ac.uk/blog/2019-11-22-supercharge-your-open-project-leadership-training
  - on mentoring: https://www.software.ac.uk/blog/2020-10-09-key-skills-know-mentoring
  - eosc: https://www.eosc-life.eu/news/4-projects-awarded-funding-within-first-training-open-call/ and https://www.eosc-life.eu

[2021-02-22 19:53] yochannah opened #268 "schedule link is missing base URL"
<img width="395" alt="image" src="https://user-images.githubusercontent.com/9271438/108762066-8934d180-7547-11eb-933a-a8d4fbc2562a.png">

See screenshot - links in the OLS schedule page are missing the openlifesci.org part...

[2021-02-23 08:00] bebatut commented on #268
Note for myself (to fix it): it is the link to weeks in OLS-3 syllabus page

[2021-02-26 02:06] BatoolMM opened #270 "Adjust the description of the project on the website"
Do you mind if I submit a PR to make a few changes and add more details about the description of my project on the website?

[2021-03-02 16:04] bebatut commented on #270
Hi @BatoolMM,

Sure. Feel free to submit a PR with changes to the description of your project.
You can make the changes to this [file](https://github.com/open-life-science/open-life-science.github.io/blob/master/_data/ols-3-projects.yaml)

Thanks for doing that!

[2021-03-02 20:35] BatoolMM commented on #270
Thank you @bebatut ⭐

[2021-03-04 22:25] BatoolMM commented on #246
This will be awesome, it'll be extremely useful if the resources are collected in a separate document. I come through lots of useful links and documents which sometimes I forgot to bookmark in  Open Life Science. Then, it becomes a bit hard to find where it's if I don't remember the exact title especially if the Slack Workplace is very active like **Open Life Science**. If all the resources are ad

[2021-03-08 13:29] malvikasharan opened #271 "Rename organisers section in cofounders and core-team"
**TODO**

- Add Emmy as a core team member
  - Give Emmy all the core members rights (email, slack etc.)
  - Do a blog post release? (ask Emmy if that would be desirable)
- Extend co-founders with the legal title of executive directors

[2021-03-09 03:31] da5nsy commented on #268
Also in the links on the OLS2 schedule page

![image](https://user-images.githubusercontent.com/3739866/110414511-f2dfd000-805d-11eb-8291-e0429c883d92.png)

[2021-03-15 09:50] yochannah opened #273 "[OLS-3 Skillup call week 5]"
1. [x] Download from Zoom cloud recordings
2. [x] Upload to Otter.ai (_will need a few minutes to process_)
3. [x] Upload to the OLS YouTube account
4. [x] Create a front page slide for the video - templates are available in Google Drive
5. [x] Make sure the YouTube video is added to the current cohort playlist
3. [x] Correct Otter.ai transcripts (_make sure to use uploaded video, not the original

[2021-03-15 21:22] yochannah commented on #273
Done! 🎉

[2021-03-15 21:22] #273 closed

[2021-03-17 15:03] yochannah opened #275 "[OLS-3 Cohort call week 7]"
1. Weekly emails
   1. [x] Send email to mentees
   1. [x] Send email to speakers
3. Cohort call video preparation (from week 6)
   1. [x] Download from Zoom cloud recordings
   2. [x] Upload to Otter.ai (_will need a few minutes to process_)
   3. [x] Upload to the OLS YouTube account
   4. [x] Create a front page slide for the video - templates are available in Google Drive
   5. [x] Make sure t

[2021-03-22 20:58] emmyft commented on #275
I'm assuming point 3 is also for week 6!

[2021-03-22 21:04] emmyft commented on #268
I think this has been fixed? It works for me for both OLS-3 and 2

[2021-03-25 17:45] da5nsy commented on #268
Still broken for me (Windows 10, Firefox 87.0 (64-bit))
On both the ols-2 and ols-3 pages the schedule links go to http://schedule/#week-XX

[2021-03-29 11:03] yochannah opened #278 "[OLS-X Cohort call week 8]"
1. Weekly emails
  1. [x] Send email to mentees
  1. [x] Send email to speakers
3. ~Cohort call video preparation~ n/a no recorded call last week

[2021-04-01 09:35] yochannah commented on #278
@malvikasharan did this 🚀

[2021-04-01 09:35] #278 closed

[2021-04-01 09:35] yochannah opened #279 "[OLS-3 Cohort call week 8]"
1. Weekly emails
  1. [x] Send email to mentees
  1. [x] Send email to speakers
3. Cohort call video preparation (from week 8)
  1. [x] Download from Zoom cloud recordings
  2. [x] Upload to Otter.ai (_will need a few minutes to process_)
  3. [x] Upload to the OLS YouTube account
  4. [x] Create a front page slide for the video - templates are available in Google Drive
  5. [x] Make sure the YouT

[2021-04-05 20:17] yochannah opened #280 "[OLS-X Cohort call week 9]"
1. Weekly emails
  1. [x] Send email to mentees
  1. [ ] ~Send email to speakers~ - n/a this week
  2. [x] Mentor mid cohort checkin email! :)
3. Cohort call video preparation
  1. [x] Download from Zoom cloud recordings
  2. [x] Upload to Otter.ai (_will need a few minutes to process_)
  3. [x] Upload to the OLS YouTube account
  4. [x] Create a front page slide for the video - templates are avai

[2021-04-12 19:09] #279 closed

[2021-04-12 19:10] #275 closed

[2021-04-12 19:10] #280 closed

[2021-04-12 19:11] yochannah opened #281 "[OLS-3 Cohort call week 10]"
1. Weekly emails
  1. [x] Send email to mentees
  1. [x] Send email to speakers
3. Cohort call video preparation
  1. [x] Download from Zoom cloud recordings
  2. [x] Upload to Otter.ai (_will need a few minutes to process_)
  3. [x] Upload to the OLS YouTube account
  4. [x] Create a front page slide for the video - templates are available in Google Drive
  5. [x] Make sure the YouTube video is a

[2021-04-18 14:59] yochannah opened #283 "[OLS-3 Cohort call week 12]"
1. Weekly emails
  1. [x] Send email to mentees
  1. [x] Send email to speakers
3. Cohort call video preparation
  1. [x] Download from Zoom cloud recordings
  2. [x] Upload to Otter.ai (_will need a few minutes to process_)
  3. [x] Upload to the OLS YouTube account
  4. [x] Create a front page slide for the video - templates are available in Google Drive
  5. [x] Make sure the YouTube video is a

[2021-05-09 16:30] #268 closed

[2021-06-05 11:09] emmyft commented on #283
Week 11 does not have a cohort call - so week 12 (; and all done with #291 !

[2021-06-05 11:09] #283 closed

[2021-06-05 11:09] emmyft commented on #281
I think we're all done! see #291

[2021-06-05 11:09] #281 closed

[2021-06-05 11:13] emmyft opened #292 "Add speakers without associating to slide decks?"
For some cohort calls (e.g. week 13's social call, and week 12's open leadership call), speakers don't necessarily have slide decks, but we'd still like to acknowledge them.

Currently, in `ols-3-schedule.yaml`, `speaker` is an attribute of resources `type: slides` and gets automatically added to the [list of cohort call speakers](https://openlifesci.org/ols-3#speakers-during-cohort-calls). Can we

[2021-06-07 11:59] malvikasharan opened #293 "[OLS-4] Launch prep"
- Website
  - [ ] Add the structure for the new cohort
    - [ ] Update the index page
    - [ ] Add timeline page
    - [ ] Update calendar with week detail (week wise)
  - [x] timeline review
  - [x] Curriculum review
  - [x] Submission link
  - [x] Partnership page update
  - [ ] Weekly notes update
  - [x] Mentor and Expert update
  - [x] Application Templates: https://github.com/open-life-sci

[2021-06-14 06:54] bebatut commented on #292
It is possible to do by just not adding the link to the slide deck. I did it for OLS-1: https://github.com/open-life-science/open-life-science.github.io/blob/a2db6d85e2b5597e836b46ab214ae0c6c55165ac/_data/ols-1-schedule.yaml#L580

(ok, I know that the category `slides` does not make sense here then...)

[2021-06-28 11:23] malvikasharan opened #297 "OLS project ideas for folks joining without a personal/planned project"
## Don't have a project but want to join OLS-4? Here is what you should do.

1. Contact the OLS team by emailing team@openlifesci.org
2. Go through the following project ideas that you can take a lead on

### Project ideas

- [x] Visualisation of participants by their countries
- [x] Visualisation of participants who take on different roles in later rounds
- [x] Data analysis of surveys: Mid and p

[2021-06-30 07:01] merrcury commented on #227
I guess this can be closed.

[2021-06-30 07:14] bebatut commented on #227
Nice catch @merrcury. Thanks! I close this issue

[2021-06-30 07:14] #227 closed

[2021-07-12 16:29] tnabtaf opened #302 "OLS-4 Dates are inconsistent"
This [OLS-4 page](https://openlifesci.org/ols-4#timeline) says

Which, just ain't right.

[2021-07-12 16:44] malvikasharan commented on #302
Thank you so much @tnabtaf. This PR should fix it: https://github.com/open-life-science/open-life-science.github.io/pull/303

[2021-07-13 06:55] #302 closed

[2021-08-13 09:52] yochannah opened #308 "Policy: data retention"
need to write this and add to site. ~3 years and delete personal data? Need to find a good template to start this

[2021-08-13 09:57] yochannah commented on #308
This has templates and is the right place for a relevant template: https://ico.org.uk/for-organisations/guide-to-data-protection/guide-to-the-general-data-protection-regulation-gdpr/accountability-and-governance/documentation/

[2021-08-13 10:06] yochannah opened #309 "Policies we sign up to - list them"
- [ ] concordat https://www.vitae.ac.uk/policy/concordat/concordat_principles
- [ ] dora

[2021-09-14 13:12] CBolibaugh opened #313 "OLS-4 Week 01 Issues links to OLS-3"
The Week 01 [page](https://openlifesci.org/ols-4/schedule/#week-01), section **After the call**, directs mentees to the OLS-3 Issues (instead of what I guess should be OLS-4), in the following:

- Create an issue on the [OLS-3 GitHub ](https://github.com/open-life-science/ols-3/issues/new)repository for your OLS work and share the link with your mentor

[2021-09-23 13:10] emmyft commented on #313
Thank you so much for spotting this @CBolibaugh! Would you be OK to amend this and make a pull request to fix it? I can review the pull request and merge afterwards (please don't worry if this is too much hassle!)

The OLS-4 issues page is here: https://github.com/open-life-science/ols-4/issues

[2021-09-23 16:32] emmyft opened #318 "[OLS-4 Cohort call week 2]"
1. Weekly emails
  1. [ ] Send email to mentees
  1. [ ] Send email to speakers
3. Cohort call video preparation
  1. [ ] Download from Zoom cloud recordings
  2. [ ] Upload to Otter.ai (_will need a few minutes to process_)
  3. [ ] Upload to the OLS YouTube account
  4. [ ] Create a front page slide for the video - templates are available in Google Drive
  5. [ ] Make sure the YouTube video is a

[2021-09-23 20:40] BatoolMM commented on #318
Just wanna say the "Cohort call video preparation" is done except for posting the link in the OLS slack, which I think it's better to be left from the organiser team!
I created a file in Otter.ai for OLS4 transcripts but feel free to remove it. I also created a new playlist on YouTube for OLS4. If I did anything incorrectly, please let me know - so I don't repeat it!

[2021-10-03 19:44] emmyft opened #322 "[OLS-X Cohort call week 3]"
1. Weekly emails
  1. [ ] Send email to mentees
  1. [ ] Send email to speakers
3. Cohort call video preparation
  1. [ ] Download from Zoom cloud recordings
  2. [ ] Upload to Otter.ai (_will need a few minutes to process_)
  3. [ ] Upload to the OLS YouTube account
  4. [ ] Create a front page slide for the video - templates are available in Google Drive
  5. [ ] Make sure the YouTube video is a

[2021-10-22 15:39] emmyft opened #326 "[OLS-4 Cohort call week 4]"
1. Weekly emails
   - [x] Send email to mentees
   - [x] Send email to speakers
2. Cohort call video preparation
   - [x] Download from Zoom cloud recordings
   - [x] Upload to Otter.ai (_will need a few minutes to process_)
   - [x] Upload to the OLS YouTube account
   - [x] Create a front page slide for the video - templates are available in Google Drive
   - [x] Make sure the YouTube video is a

[2021-10-22 15:48] emmyft opened #327 "[OLS-4 Cohort call week 5]"
1. Weekly emails
   - [x] Send email to mentees
   - [x] Send email to speakers
2. Cohort call video preparation
   - [x] Download from Zoom cloud recordings
   - [x] Upload to Otter.ai (_will need a few minutes to process_)
   - [x] Upload to the OLS YouTube account
   - [x] Create a front page slide for the video - templates are available in Google Drive
   - [x] Make sure the YouTube video is a

[2021-10-22 15:50] emmyft opened #328 "[OLS-4 Cohort call week 6]"
1. Weekly emails
   - [x] Send email to mentees
   - [x] Send email to speakers
2. Cohort call video preparation
   - [x] Download from Zoom cloud recordings
   - [x] Upload to Otter.ai (_will need a few minutes to process_)
   - [x] Upload to the OLS YouTube account
   - [x] Create a front page slide for the video - templates are available in Google Drive
   - [x] Make sure the YouTube video is a

[2021-11-07 23:58] da5nsy opened #329 "[OLS-4 Cohort call week 8]"
1. Weekly emails
   - [ ] Send email to mentees
   - [ ] Send email to speakers
2. Cohort call video preparation
   - [x] Download from Zoom cloud recordings
   - [x] Upload to Otter.ai (_will need a few minutes to process_)
   - [x] Upload to the OLS YouTube account
   - [x] Create a front page slide for the video - templates are available in Google Drive
   - [x] Make sure the YouTube video is a

[2021-11-08 20:20] emmyft commented on #329
I updated the to-do list here manually- the "permanent" change is pending #323 :)

[2021-11-09 19:40] da5nsy commented on #329
OK - I think I've done everything I was meant to do here. Can someone confirm? 😃

[2021-11-09 19:51] emmyft commented on #329
Looks good - thanks @da5nsy !

[2021-11-22 20:24] emmyft opened #332 "[OLS-4 Cohort call week 10]"
1. Weekly emails
   - [ ] Send email to mentees
   - [ ] Send email to speakers
2. Cohort call video preparation
   - [ ] Download from Zoom cloud recordings
   - [ ] Upload to Otter.ai (_will need a few minutes to process_)
   - [ ] Upload to the OLS YouTube account
   - [ ] Create a front page slide for the video - templates are available in Google Drive
   - [ ] Make sure the YouTube video is a

[2021-12-01 17:48] da5nsy opened #334 "[OLS-4 Cohort call week 12]"
1. Weekly emails
   - [x] Send email to mentees
   - [x] Send email to speakers
2. Cohort call video preparation
   - [x] Download from Zoom cloud recordings
   - [x] Upload to Otter.ai (_will need a few minutes to process_)
   - [x] Upload to the OLS YouTube account
   - [x] Create a front page slide for the video - templates are available in Google Drive
   - [x] Make sure the YouTube video is a

[2021-12-06 14:16] malvikasharan opened #336 "List of announcement post for the end of 2021"
- [x] OLS-4 grad and OLS-5 application call
- [ ] OLS communication docs (presentations, flyers, report etc)?
- [ ] Wellcome funding to OLS, upcoming job, plans, link to application form
- [ ] Annual report 2021
- [ ] microgrant, policy, board, governance, finance update?

[2021-12-06 19:08] bebatut opened #337 "UI to fix on website"
- [ ] blog post

![Screenshot_20211206-200633.png](https://user-images.githubusercontent.com/1842467/144906974-082c35c4-790e-4238-9ef1-537ab89df8c3.png)

- [x] drop down menu for previous OLS

[2021-12-08 19:15] da5nsy commented on #334
Done everything I think I was meant to 👍

[2021-12-13 17:09] malvikasharan opened #338 "[OLS-4 Cohort call week 13]"
1. Weekly emails
  1. [x] Send email to mentees
  1. [x] Send email to speakers
3. Cohort call video preparation
  1. [x] Download from Zoom cloud recordings
  2. [x] Upload to Otter.ai (_will need a few minutes to process_)
  3. [x] Upload to the OLS YouTube account
  4. [x] Create a front page slide for the video - templates are available in Google Drive
  5. [x] Make sure the YouTube video is a

[2022-01-25 16:52] malvikasharan opened #344 "Bug: something is wrong in a page"
Core error in this page: https://openlifesci.org/ols-4/projects-participants/
<img width="1168" alt="image" src="https://user-images.githubusercontent.com/5370471/151021999-0d3c94be-ded3-4e0e-a675-a72ee3ddfd71.png">

[2022-01-25 16:53] malvikasharan opened #345 "Add OLS-5 mentors and experts"
We need to add mentors and experts on the website

[2022-01-26 13:42] bebatut commented on #344
It is not really an error. It is part of the description of their project

[2022-01-26 13:47] malvikasharan commented on #344
Lol, should have read it clearly, I was browsing around and assumed that it's an error :D

[2022-01-26 13:48] #344 closed

[2022-01-26 13:55] #338 closed

[2022-03-14 20:15] #293 closed

[2022-03-14 20:15] #326 closed

[2022-03-14 20:15] #327 closed

[2022-03-14 20:15] #328 closed

[2022-03-14 20:15] #329 closed

[2022-03-14 20:15] #332 closed

[2022-03-14 20:15] #334 closed

[2022-03-18 10:41] manulera opened #360 "[OLS-X Cohort call week X]"
1. Weekly emails
  1. [ ] Send email to mentees
  1. [ ] Send email to speakers
3. Cohort call video preparation
  1. [ ] Download from Zoom cloud recordings
  2. [ ] Upload to Otter.ai (_will need a few minutes to process_)
  3. [ ] Upload to the OLS YouTube account
  4. [ ] Create a front page slide for the video - templates are available in Google Drive
  5. [ ] Make sure the YouTube video is a

[2022-03-18 14:37] manulera commented on #360
Video is [here](https://www.youtube.com/watch?v=CnTWxXVM0Qw)

[2022-03-28 13:00] #313 closed

[2022-03-29 10:39] manulera opened #362 "[OLS-5 Cohort call week 5]"
3. Cohort call video preparation
  1. [x] Download from Zoom cloud recordings
  2. [x] Upload to Otter.ai (_will need a few minutes to process_)
  3. [x] Upload to the OLS YouTube account
  4. [x] Create a front page slide for the video - templates are available in Google Drive
  5. [x] Make sure the YouTube video is added to the current cohort playlist
  3. [x] Correct Otter.ai transcripts (_make

[2022-03-29 21:30] #362 closed

[2022-03-30 12:51] malvikasharan opened #363 "Enforcement and report handling details in CoC"
Add enforcement details in the CoC. I have recently edited a CoC using multiple reference, it is minimal (smaller than The Carpentries, but has explicit info around report handling and consequences): https://github.com/alan-turing-institute/reproducible-project-template/blob/main/CODE_OF_CONDUCT.md

Other option is here that uses restorative justice (and has the Mozilla content as currently in our

[2022-03-30 12:51] malvikasharan commented on #363
@yochannah @bebatut @emmyft can one of you look at this when there is more time in our calendar?

[2022-04-24 09:25] manulera opened #365 "[OLS-5 Cohort call week 8]"
3. Cohort call video preparation
  1. [x] Download from Zoom cloud recordings
  2. [x] Upload to Otter.ai (_will need a few minutes to process_)
  3. [x] Upload to the OLS YouTube account
  4. [x] Create a front page slide for the video - templates are available in Google Drive
  5. [x] Make sure the YouTube video is added to the current cohort playlist
  3. [x] Correct Otter.ai transcripts (_make

[2022-04-24 16:36] #365 closed

[2022-05-09 21:48] manulera opened #367 "[OLS-5 Cohort call week 10]"
3. Cohort call video preparation
  1. [x] Download from Zoom cloud recordings
  2. [x] Upload to Otter.ai (_will need a few minutes to process_)
  3. [x] Upload to the OLS YouTube account
  4. [x] Create a front page slide for the video - templates are available in Google Drive
  5. [x] Make sure the YouTube video is added to the current cohort playlist
  3. [x] Correct Otter.ai transcripts (_make

[2022-05-09 22:11] #367 closed

[2022-05-29 10:24] manulera opened #371 "[OLS-5 Skill-up call week 13]"
3. Cohort call video preparation
  1. [x] Download from Zoom cloud recordings
  2. [x] Upload to Otter.ai (_will need a few minutes to process_)
  3. [x] Upload to the OLS YouTube account
  4. [x] Create a front page slide for the video - templates are available in Google Drive
  5. [x] Make sure the YouTube video is added to the current cohort playlist
  3. [x] Correct Otter.ai transcripts (_make

[2022-05-29 10:26] #371 closed

[2022-06-13 08:22] emmyft opened #376 "Update funders, partners and team info"
imao important to live our values of transparency and openness!

- Update our funders and partners page: https://openlifesci.org/funders
  - add a list of past funders
- Add a new "team" page (alternative title welcome!), to have info on our organizing team members and staff.

Maybe something for the documentation sprint?

[2022-06-15 20:49] malvikasharan commented on #376
Added CZI.
need to include Wellcome in July.

[2022-06-15 20:55] malvikasharan opened #377 "Error in the application page"
Issue raised by @dingaaling

https://openlifesci.org/posts/2022/06/03/announcing-applications-for-ols-6/[https://openreview.net/group?id=openlifesci.org/Open_Life_Science/2022/Cohort_6](https://openreview.net/group?id=openlifesci.org/Open_Life_Science/2022/Cohort_6)
Which leads to an error page

![image](https://user-images.githubusercontent.com/5370471/173927200-edf9fdf3-cc75-46fe-9a8c-164efce898

[2022-06-15 20:57] #377 closed

[2022-07-01 10:31] malvikasharan opened #382 "Remiagining graduation presentation in OLS"
We are thinking about how else (beyond presentation) we can have our cohort members graduating.
- [ ] Art installation
- [ ] Public speaking
- [ ] Video submission
- [ ] Blog or storytelling
- [ ] Local public engagement
- [ ] Personal event they organise to talk about their project
- [ ] something else?

[2022-07-01 10:33] malvikasharan opened #383 "Rubrics/value alignment for working with an organisation"
We want to return to this in DIrectors meeting to discuss what are our rubric for working or not working with an organisation as partners, service providers, funders etc.

[2022-08-05 21:35] amangoel185 opened #392 "Wrong cohort numbering under OLS-X for Turing heading"
The cohort numbering from under the heading “OLS-X for Turing” is stuck on “third” since OLS-3. The issue exists in [`ols-4.md`](https://github.com/open-life-science/open-life-science.github.io/blob/5d4d1e9862c7fcd1950f37e7680ad37a16393947/ols-4.md?plain=1#L297), [`ols-5.md`](https://github.com/open-life-science/open-life-science.github.io/blob/5d4d1e9862c7fcd1950f37e7680ad37a16393947/ols-5.md?pla

[2022-08-08 09:34] yochannah commented on #392
Thanks @amangoel185 !! Please do open a PR, that would be awesome! I have no strong feelings about fifth vs 5th, whatever's easiest?

[2022-08-08 16:57] yochannah opened #394 "OLS-6 launch blog"
copy from https://github.com/open-life-science/open-life-science.github.io/blob/main/_posts/2022-03-03-ols-5-annoucement.md and tweakto OLS-6

[2022-08-08 21:21] amangoel185 commented on #392
Great, sure!

[2022-08-09 09:34] #392 closed

[2022-08-09 13:18] bebatut commented on #394
I created the draft of the blog post, just fixing the numbering.
Some tasks have to be done: adding new people and projects

[2022-08-11 09:24] bebatut commented on #336
@malvikasharan can you close this issue?

[2022-08-11 09:25] bebatut commented on #292
I close this issue. @emmyft feel free to reopen if you think it is still an issue

[2022-08-11 09:25] #292 closed

[2022-08-11 09:28] #270 closed

[2022-08-26 11:38] malvikasharan opened #407 "[OLS-5] Add missing details about the facilitators"
Currently we have a host section in each cohort but many names are missing.

Instead of host we should create 'facilitator' section and add missing names (e.g. Mayya, Mike ...)

[2022-09-12 08:32] bebatut opened #414 "Move Code of Conduct to policy GitHub repo"

[2022-09-12 08:33] bebatut opened #415 "Add a proper Table of Content for the syllabus pages"

[2022-09-16 14:21] yochannah opened #416 "Make UTC for schedule on OLS-6 page, not CET"
Change to a more neutral timezone. Tell @pazbc  about this

[2022-09-16 14:37] bebatut commented on #416
To do that
- Change the Jekyll template for schedule
- Modify the timing in all schedule files (in `_data` folder)

[2022-09-16 14:42] bebatut commented on #407
It will be fixed by #412

[2022-09-16 14:43] bebatut commented on #376
It would be completely fixed by #412

[2022-09-16 14:45] bebatut commented on #271
It would be fixed with #412

[2022-09-16 14:46] bebatut commented on #237
It would be fixed by #412

[2022-09-16 14:50] bebatut commented on #85
It would be at least partially fixed with #412

[2022-09-16 14:51] bebatut opened #417 "Links on website"
Suggested by a community member:

"If the links could not be in green/less fat I think it would make reading much easier or if you could get rid of the underline altogether, even better that would be helpful for people with dyslexia"

[2022-09-16 14:53] bebatut opened #418 "Link from bios to OLS projects people participated to"
Suggested by a community member:

"When I go in projects and participants of previous OLSs, like OLS5, I can click on the project leads of each project (https://openlifesci.org/ols-5/projects-participants/), and that takes me to their bios. It'd be nice that if I am in the bios, I can see which project XY person is related to."

[2022-09-16 15:04] bebatut opened #419 "GitHub action with Cron job to automatically update schedule"
The website need to be regularly updated with information about the cohort calls during a cohort.
To do the update, I currently run manually from time to time a script as explained here:
https://github.com/open-life-science/open-life-science.github.io#update-schedule-for-a-cohort

It would be nice to have script running as a Cron job on GitHub action.

[2022-09-16 19:39] bebatut opened #420 "Header image and hidden navbar on small screen"
![Screenshot_20220916-213716.png](https://user-images.githubusercontent.com/1842467/190717507-421b8430-a8b0-4eb5-a2b4-94072a522188.png)

[2022-09-18 12:02] abitsalihu commented on #420
@bebatut I would like to work on this issue. :)

[2022-09-19 13:58] bebatut opened #421 "LICENSE update: Add MIT license for infrastructure / scripts"
Our current CC-BY-SA 4.0 license does not make possible to reuse the infrastructure and scripts

Solution
- Change the LICENSE file to MIT here
- Make sure that CC-BY-SA 4.0 (for content) is mentioned on the README, and on the website

[2022-10-08 16:29] hsadia538 commented on #417
Hi @bebatut ,
I am an outreachy applicant and would like to work on this issue.
I will be submitting a PR soon.

[2022-10-08 19:17] NPDebs commented on #199
Hi @yochannah 👋🏼 Is this issue still up for grabs? 😃 👀

[2022-10-08 19:27] NPDebs commented on #238
Hi @bebatut 👋🏼
Has this issue been fixed? 👀

If no, I'd like to take this on.

[2022-10-08 19:29] NPDebs commented on #420
Hi @bebatut .
I'd love to work on this issue, please. 👍🏻

[2022-10-08 22:30] baimamboukar commented on #414
Hello @bebatut ! I am a Outreachy applicant! I already raised a pull request for this issue
https://github.com/open-life-science/policies-procedures-and-docs/pull/13

[2022-10-08 23:41] kryptosjay commented on #420
I'd love to work on this project if given access to it thank you

[2022-10-08 23:43] kryptosjay commented on #407
Hi @bebatut ,
I am an outreachy applicant and would like to work on this issue.
if given access please

[2022-10-08 23:47] kryptosjay commented on #337
Hi @bebatut ,
I am an outreachy applicant and would like to work on this issue.

[2022-10-08 23:50] kryptosjay commented on #417
I am an outreachy applicant and would like to work on this issue.
I given access please

[2022-10-08 23:50] kryptosjay commented on #238
Hi am jacinta
I am an outreachy applicant and would like to work on this issue.
if given access please

[2022-10-09 03:22] NPDebs commented on #418
Hi @bebatut 👋🏼🙂
I'm an Outreachy intern and would absolutely love to work on this issue. Thanks!

[2022-10-09 03:23] NPDebs commented on #416
Hi @bebatut. 👋🏼
Can I please work on this?

[2022-10-09 06:37] Hauwarh commented on #415
Hi @bebatut
I'm an outreachy Intern, can I be assigned this issue.

[2022-10-09 11:32] alvinokafor commented on #337
Hi @bebatut, I would love to work on this issue

[2022-10-09 11:33] alvinokafor commented on #233
Hi @malvikasharan, I am an outreachy intern amd i would love to work on this issue

[2022-10-09 13:54] Emidowojo commented on #382
If you're still thinking of innovative ways the cohort members can graduate, Blog or storytelling and video submissions are great ideas, especially in this post-pandemic period.

[2022-10-09 13:56] Emidowojo commented on #383
This has been open since July, is there any update on this? Is there anything you'd like my help with on here?

[2022-10-09 13:59] Emidowojo commented on #363
Hello @malvikasharan would you like me to look into this and add enforcement details? This issue has been open for a while now.

[2022-10-09 14:02] Emidowojo commented on #394
Hello, @bebatut would you like my help on here? Reviewing the blog post or creating new ones?

[2022-10-09 17:43] Abiola-Zeenat commented on #199
hello @yochannah , I am an outreachy applicant and would love to make a contribution to this

[2022-10-09 19:20] Neroogod commented on #337
Hello @bebatut @yochannah ..I'm an Outreachy 2022 Applicant ,I'd like to help fix this issue.

[2022-10-09 19:30] Neroogod commented on #420
Hello @bebatut ,I'm an outreachy 2022 Applicant,I'd love to work on this issue.

[2022-10-10 05:34] Lovelyfin00 commented on #198
Hello @bebatut
I'm an outreachy applicant and would love to contribute to this
Can more explanation be given on the issue?
Thank you

[2022-10-10 05:36] Lovelyfin00 commented on #169
Hi @bebatut
Is this issue still open?
If yes, I would love to contribute to it
I'm an outreachy applicant

[2022-10-10 05:46] Lovelyfin00 commented on #200
Hi @bebatut
Is this issue still up for grabs?
I would love to be assigned to it
And can more explanation on whatvis needed be given?

[2022-10-10 06:42] ricMbugua commented on #407
Hi @bebatut  my name is Richard and would love to fix this issue for you. Am ready to work on it any time.

[2022-10-10 06:45] ricMbugua commented on #417
Hi @bebatut,
I am an Outreachy internship applicant and would love to solve this issue.

[2022-10-10 06:56] bebatut commented on #407
The issue was fixed already. Thanks for the asking to help there

[2022-10-10 06:56] #407 closed

[2022-10-10 06:59] bebatut commented on #414
Thanks @baimamboukar for this contribution.
We then need to replace the Code of Conduct from this repository and on the website with a link to the one in the Policy folder

[2022-10-10 07:03] baimamboukar commented on #414
Alright ☄️
I'm doing it....
I will soon raise a pull request

[2022-10-10 07:07] bebatut commented on #169
Thanks @Lovelyfin00 for the interest. I did not manage to see this issue. Maybe you could investigate if it is still the case on the website https://openlifesci.org/people

[2022-10-10 07:11] xiaodaiweiwei commented on #420
Hello @bebatut , I'm Astrid Liu and I'm an outreachy applicant. I'd love to work on this issue. Thank you!

[2022-10-10 07:25] ricMbugua commented on #407
Okay thank you.

On Mon, Oct 10, 2022 at 9:56 AM Bérénice Batut ***@***.***>
wrote:

[2022-10-10 07:26] ricMbugua commented on #407
If anymore changes are needed please let me know.

On Mon, Oct 10, 2022 at 10:24 AM Mbugua Richard ***@***.***>
wrote:

[2022-10-10 07:55] Chalcedony219 commented on #420
I’ll love to work on this issue @bebatut
My name is Nancy (an Outreachy applicant), a UX designer. Thank you

[2022-10-10 07:57] kosonyemedaniella commented on #337
hello @bebatut @yochannah i am an outreachy applicant and i'ld like to help fix this issue

[2022-10-10 09:01] Juxtathinkacode commented on #415
Hello. I am Gimbiya, an Outreachy applicant and content writer. Please assign me this task.

[2022-10-10 09:05] Juxtathinkacode commented on #394
Hello @bebatut. This is Gimbiya, a content writer and Outreachy applicant. I am available to create new blog posts and rewrite old ones if you assign me the task.

[2022-10-10 09:08] baimamboukar commented on #414
Hi @bebatut ! I think the frist pull request should be merged so that I can get the link of code_of_conduct in the policies repository!

Or any other way I can do it ?

[2022-10-10 09:18] iremide1022 commented on #415
Hello I’m dorcas, an outreachy applicant can I be assigned to this task

[2022-10-10 10:00] Lovelyfin00 commented on #169
I could not find the issue too. The page is fully responsive on all devices and I checked

[2022-10-10 11:00] Munnachienyi commented on #415
@bebatut, what should be in the table of content because it's currently empty? could you explain, please?

[2022-10-10 11:06] bebatut commented on #415
The table of content should contain the different headers. It should be automatically created

[2022-10-10 11:09] Chalcedony219 commented on #337
Hello @yochannah @bebatut
I am Nancy, a UX designer, contributing for Outreachy. I’ll absolutely love to work on this task. Thank you

[2022-10-10 11:09] Juxtathinkacode commented on #415
Ok.

[2022-10-10 11:14] bebatut commented on #417
In this issue, we need to find a solution to improve accessibility of the links (e.g. for people with dislexia). I would be nice to check the accessibility recommendations for links

[2022-10-10 11:25] bebatut commented on #169
I close this issue then. Thanks @Lovelyfin00 for checking it

[2022-10-10 11:25] #169 closed

[2022-10-10 11:56] NPDebs opened #428 "Typos in README"
**Current behavior:** I noticed some typos in the README of this repo.

![ols-readme-issue (2)](https://user-images.githubusercontent.com/105166953/194860856-5b7f29a7-8166-40c7-b427-15bffa00d338.png)

**Expected behavior:** The file should be edited to correct this.

[2022-10-10 11:58] Jolah1 commented on #420
hello @bebatut my name is Jolade, an outreachy applicant, I am currently working on this issue. Thank you

[2022-10-10 11:59] NPDebs commented on #428
@yochannah & @bebatut
I noticed these typos and raised a "good first issue" which can be fixed by any of my fellow Outreachy participants.

I'm available to work on it if no one else indicates interest. Thanks!

[2022-10-10 12:00] bebatut commented on #428
Looks good!

[2022-10-10 12:01] Jolah1 commented on #418
Hello @bebatut
My name is Jolade, I am an Outreachy applicant, I will be working on this issue.
thank you.

[2022-10-10 12:02] Valliammai-SM commented on #428
Could you assign this to me?

[2022-10-10 12:03] Jolah1 commented on #417
Hello @bebatut
My name is Jolade, I am an Outreachy applicant, I will be working on this issue.
thank you.

[2022-10-10 12:06] Jolah1 commented on #238
Hello @bebatut
My name is Jolade, I am an Outreachy applicant, I will be working on this issue.
thank you.

[2022-10-10 12:07] Jolah1 commented on #233
Hello @bebatut
My name is Jolade, I am an Outreachy applicant, I will be working on this issue.
thank you.

[2022-10-10 12:07] NPDebs commented on #428
Thank you kindly!

I just noticed that the entire file might need a bit of editing for similar issues.
What do you think would be the best approach to tackling this?
1. Create individual, bite-sized issues for each typo I spot. (So that everyone gets a chance to contribute)
2. Raise a PR that addresses all the errors at once. (To make things faster)

@bebatut  & @yochannah

[2022-10-10 12:07] NPDebs commented on #428
Love the enthusiasm! Please assign it to @Valliammai-SM Thank you!

[2022-10-10 12:10] bebatut commented on #418
As defined in the [OLS Outreachy contribution guide](https://docs.google.com/document/d/1HP7qTBe-6YrCUYAVkrT441rGtF6zxzNbbz2E5RWQvTM/edit?usp=sharing),
- If someone else has already commented, let them try first
- If they don’t update after three days, the issue is “free” again, and you can pick it up.

@NPDebs were the first one to comment here. Are you still interested to work on this issue? You

[2022-10-10 12:10] Jolah1 commented on #420
Got it! Thank you so much.

On Mon, 10 Oct 2022 at 1:08 PM, Bérénice Batut ***@***.***>
wrote:

[2022-10-10 12:10] NPDebs commented on #428
Awesome! I'll be opening a PR soon. Thank you!

[2022-10-10 12:11] bebatut commented on #417
As defined in the [OLS Outreachy contribution guide](https://docs.google.com/document/d/1HP7qTBe-6YrCUYAVkrT441rGtF6zxzNbbz2E5RWQvTM/edit?usp=sharing),
- If someone else has already commented, let them try first
- If they don’t update after three days, the issue is “free” again, and you can pick it up.

@hsadia538  were the first one to comment here. Are you still interested to work on this issue?

[2022-10-10 12:13] Jolah1 commented on #421
Hello @bebatut
My name is Jolade, I am an Outreachy applicant, I will be working on this issue.
thank you.

[2022-10-10 12:27] bebatut commented on #238
As defined in the [OLS Outreachy contribution guide](https://docs.google.com/document/d/1HP7qTBe-6YrCUYAVkrT441rGtF6zxzNbbz2E5RWQvTM/edit?usp=sharing),
- If someone else has already commented, let them try first
- If they don’t update after three days, the issue is “free” again, and you can pick it up.

@NPDebs were the first one to comment here. Are you still interested to work on this issue? You

[2022-10-10 12:31] bebatut commented on #233
Thank you for your interest. Such pages exist already. We forgot to close this issue

[2022-10-10 12:31] #233 closed

[2022-10-10 12:34] bebatut commented on #421
Thanks @Jolah1 for you interest. @oluwatobiBolu started to work on this issue here #427
Would you like to review the changes?

[2022-10-10 12:36] Jolah1 commented on #238
Thanks for replying ma’am, it’s seems most issues have been taken up at the
moment…..I would really appreciate if you can assign anyone that is free to
me please.

This will be my first contribution

Thank you
Best Regards.

On Mon, 10 Oct 2022 at 1:27 PM, Bérénice Batut ***@***.***>
wrote:

[2022-10-10 12:40] bebatut commented on #419
I added details about the idea there. Let me know if you have any question

[2022-10-10 12:42] bebatut commented on #238
I am sorting issues and will add more in the next hours

[2022-10-10 12:45] Jolah1 commented on #238
Alright ma'am

[2022-10-10 13:01] #376 closed

[2022-10-10 13:01] #336 closed

[2022-10-10 13:02] bebatut commented on #336
Feel free to reopen it if needed @malvikasharan

[2022-10-10 13:07] bebatut commented on #200
I updated the description @Lovelyfin00. I hope it is a bit more clear

[2022-10-10 13:08] #237 closed

[2022-10-10 13:13] bebatut commented on #199
As defined in the [OLS Outreachy contribution guide](https://docs.google.com/document/d/1HP7qTBe-6YrCUYAVkrT441rGtF6zxzNbbz2E5RWQvTM/edit?usp=sharing),

- If someone else has already commented, let them try first
- If they don’t update after three days, the issue is “free” again, and you can pick it up.

@NPDebs were the first one to comment here, but is already assigned to other issues.
@Abiola-Z

[2022-10-10 13:26] bebatut opened #432 "Alignment of people information"
![image](https://user-images.githubusercontent.com/1842467/194876229-c7989511-4a9b-4a66-a846-6cff4171a2a3.png)

People information are not aligned because we do not always have the same information for all

[2022-10-10 13:34] tnwoodard commented on #199
Hi @bebatut.  I am an Outreachy applicant and would like to be added to the queue if the issue becomes free again.  Thanks!

[2022-10-10 13:35] bebatut opened #433 "Stories page: alignment or redesign?"
In the current stories page, each story comes with a image and a title. But they do not really aligned:

![image](https://user-images.githubusercontent.com/1842467/194878263-e54cc9e1-4cab-4cef-b99b-c37b423bdb35.png)

It might be good to aligned them or change a bit the layout of this page

[2022-10-10 13:46] bebatut opened #434 "Schedule pages: embed YouTube video of the cohort calls on the side when available"
In Schedule pages of cohort, e.g. for [OLS-2](https://openlifesci.org/ols-2/schedule/), cohort call information is displayed, including in the resources the link to the YouTube video of the recording:
![image](https://user-images.githubusercontent.com/1842467/194880155-8f8557a5-ae5b-4298-b1d1-d8b45e5002bc.png)

It would be nice to maybe have these videos embedded directly in the website, maybe on

[2022-10-10 13:46] bebatut opened #592 "Schedule pages: embed YouTube video of the cohort calls on the side when available"
In Schedule pages of cohort, e.g. for [OLS-2](https://openlifesci.org/ols-2/schedule/), cohort call information is displayed, including in the resources the link to the YouTube video of the recording:
![image](https://user-images.githubusercontent.com/1842467/194880155-8f8557a5-ae5b-4298-b1d1-d8b45e5002bc.png)

It would be nice to maybe have these videos embedded directly in the website, maybe on

[2022-10-10 14:05] bebatut opened #435 "Add schema.org annotation of the blog posts"
[Schema.org](https://schema.org/) is a collaborative, community activity with a mission to create, maintain, and promote schemas for structured data on the Internet, on web pages, in email messages, and beyond. The aim is to improve the web by creating a structured data markup schema supported by major search engines.

It is embedded in the HTML as JSON-LD to tag pages with metadata (title, author

[2022-10-10 14:05] bebatut opened #591 "Add schema.org annotation of the blog posts"
[Schema.org](https://schema.org/) is a collaborative, community activity with a mission to create, maintain, and promote schemas for structured data on the Internet, on web pages, in email messages, and beyond. The aim is to improve the web by creating a structured data markup schema supported by major search engines.

It is embedded in the HTML as JSON-LD to tag pages with metadata (title, author

[2022-10-10 14:14] tnwoodard commented on #200
Hi @bebatut. Thank you for coordinating this. Is this issue free for me to work or was it chosen already? If chosen, will you please add me to the queue if it is not resolved soon?  Thank you! 👍🏾

[2022-10-10 14:24] tnwoodard commented on #432
Hi again @bebatut. I am an Outreachy applicant and would love to fix this issue. Can I please work on this? Thank you.

[2022-10-10 14:33] tnwoodard commented on #434
Hi @bebatut. I am an applicant with Outreachy and would like to work on this issue. Is it okay to start? Thank you.

[2022-10-10 14:38] bebatut commented on #434
Sure @tnwoodard :)

[2022-10-10 14:45] bebatut opened #436 "Add schema.org / BioSchema annotation for each cohort call"
[Schema.org](https://schema.org/) is a collaborative, community activity with a mission to create, maintain, and promote schemas for structured data on the Internet, on web pages, in email messages, and beyond. The aim is to improve the web by creating a structured data markup schema supported by major search engines.

It is embedded in the HTML as JSON-LD to tag pages with metadata (title, author

[2022-10-10 14:45] bebatut opened #590 "Add schema.org / BioSchema annotation for each cohort call"
[Schema.org](https://schema.org/) is a collaborative, community activity with a mission to create, maintain, and promote schemas for structured data on the Internet, on web pages, in email messages, and beyond. The aim is to improve the web by creating a structured data markup schema supported by major search engines.

It is embedded in the HTML as JSON-LD to tag pages with metadata (title, author

[2022-10-10 14:50] bebatut opened #437 "Emtpy links in people pages"
I ran [Wave](https://wave.webaim.org/) to check for accessibility on the website.
In the people pages, I got many errors because of empty links, in the people information:

![image](https://user-images.githubusercontent.com/1842467/194893874-9b4f7136-3a94-4f9b-93c0-6ac3f3589d88.png)

It would be good to fix them

[2022-10-10 14:51] bebatut opened #438 "Contrast errors in people page"
I ran [Wave](https://wave.webaim.org/) to check for accessibility on the website.
In the people pages, I got many errors because of contrast in the people information:

![image](https://user-images.githubusercontent.com/1842467/194894288-559d064a-4223-48a3-8d0d-035f441ad4da.png)

It would be good to fix them

[2022-10-10 14:54] bebatut opened #439 "Contrast error in schedule page"
I ran [Wave](https://wave.webaim.org/) to check for accessibility on the website.
In the [schedule page of OLS-6](https://openlifesci.org/ols-6/schedule/), I got 3 errors because of contrast:

![image](https://user-images.githubusercontent.com/1842467/194894668-3bdd44cb-8b7f-4f32-9a1f-725cbc5635f5.png)

It would be good to fix them

[2022-10-10 14:55] NPDebs commented on #420
Yes, please. @bebatut Thank you! 😊

[2022-10-10 15:01] bebatut commented on #148
The event page is created but empty: https://github.com/open-life-science/open-life-science.github.io/blob/main/events.md
The event should be stored in the [`_data/events.yaml` file](https://github.com/open-life-science/open-life-science.github.io/blob/main/_data/events.yaml)

[2022-10-10 15:06] NPDebs commented on #418
Hi @bebatut
Yeah. I was throwing darts, hoping to land as many contributions as possible! 😅

I'll take whatever you assign to me. Thank you!

[2022-10-10 15:11] NPDebs commented on #428
@bebatut Thank you for merging.

A subtle reminder to mark this issue as closed, please. 😃 Thank you.

[2022-10-10 15:16] jilaga commented on #433
![OLS stories card](https://user-images.githubusercontent.com/105386444/194899216-dc390230-fe4b-49ec-a40f-09e9bc290eec.png)

[2022-10-10 15:18] jilaga commented on #433
In this approach, contents don't spill out of their assigned positions.

[2022-10-10 15:30] #428 closed

[2022-10-10 15:42] oluwatobiBolu commented on #433
yeah
this is the approach i plan on taking so the contents don't look out of place when comparing the stories with eachother

[2022-10-10 15:42] oluwatobiBolu commented on #433
@jilaga are you working on it already?

[2022-10-10 15:50] Lovelyfin00 commented on #200
@bebatut
Yes
It's clear now
So which of the pages is it supposed to be added to?

[2022-10-10 15:54] jilaga commented on #433
@oluwatobiBolu I'm just happy to help

[2022-10-10 16:04] oluwatobiBolu commented on #433
it's a nice design, i will be trying it out
thanks for the help

[2022-10-10 16:16] Lovelyfin00 commented on #439
Hi @bebatut
Can i quickly work on this?

[2022-10-10 16:21] bebatut commented on #439
Sure 😃

[2022-10-10 16:25] Lovelyfin00 commented on #439
@bebatut
I'm kind of very confused. I've opened the project on gitpod. But the scheduled on the ol6 folder is a markdown file.  Where are the html files? I'm so confused. This is the first time I'm contributing to open source

[2022-10-10 16:28] bebatut commented on #439
The Markdown are transformed into HTML using [Jekyll](http://jekyllrb.com/).
You can find the templates for the HTML in the layouts and include folders.

[2022-10-10 17:04] Munnachienyi commented on #437
how do we go about this @bebatut

[2022-10-10 17:43] NPDebs commented on #199
@Abiola-Zeenat I don't think this has been assigned to anyone. I was going to work on it but got assigned somewhere else.

You can definitely take this on, girl!

[2022-10-10 17:51] Juxtathinkacode commented on #246
Hello @bebatut I am Gimbiya, Outreachy Intern Applicant and a content writer. Can I be assigned to this task? I would love to create a resourceful blogpost that everyone can contribute to. I can create a Google Doc, update the content and share the link on Slack.

[2022-10-10 20:17] baimamboukar commented on #414
@bebatut Thanks for assigning me the issue!
You said I should replace the conde-of-conduct of this repository with a link to the one in policies repository! Right ?

But there is no any CODE_OF_CONDUCT.md file in policies repository! The pull request I raised (https://github.com/open-life-science/policies-procedures-and-docs/pull/13) has not been merged yet!
Or there is any other way I can continu

[2022-10-10 20:27] baimamboukar commented on #438
I want to work on this!
I am kinda confused.... What do you mean by contrast here ?
Thanks for clarifying @bebatut

[2022-10-10 21:17] baimamboukar commented on #419
Hello @bebatut !
I have been reading about setting up github actions workflows to run cron jobs!
I am already working on this....

[2022-10-10 21:18] baimamboukar commented on #419
What is the frequency of triggering the cron job? Every 3 months ?

[2022-10-10 22:04] baimamboukar commented on #419
Hello @bebatut !
I raised a [pull request](https://github.com/open-life-science/open-life-science.github.io/pull/440) #440 about this issue!

### Thanks for reviewing!
I'm waiting for feedbacks...

[2022-10-10 22:19] Abiola-Zeenat commented on #199
okay, I'll jump on it then, thanks.

[2022-10-10 22:44] baimamboukar commented on #435
### I have been reading on this.....
But I'm sure I have understood how to use this **schema.org** thing!

From waht I read, it is a very performant set of tools to highly improve ``SEO(Search Engine Optimization)`` on websites.
- Can you give detailled steps on how to work wit it ?
- Or an example on how to use it?
- Or maybe a ressource to learn how to use it ?

Thanks! @bebatut

[2022-10-11 02:07] Abiola-Zeenat commented on #199
Hi @bebatut, I made a PR on this. Kindly review.

[2022-10-11 04:56] iLynette commented on #439
Hello @Lovelyfin00 if you're still confused we can look at it together, perhaps? if that's okay with @bebatut

[2022-10-11 04:58] iLynette commented on #437
Hello, @bebatut I would like to work on this.

[2022-10-11 04:59] iLynette commented on #436
Hello @bebatut I would like to give this a shot, can I?

[2022-10-11 05:48] Lovelyfin00 commented on #439
@iLynette
Yes please
Let's look at it together
Because I'm still confused
Haven't used Jekyll before
And can we talk on private
Send me a message on github please

[2022-10-11 06:00] iLynette commented on #439
Of course @Lovelyfin00 I haven’t used Jekyll before either but I believe we can learn and solve it while at it. I’m not sure there’s an option for a private chat on GitHub though, if you are on the OLS slack channel please give me your username and I’ll directly message you. Or you can search for my name, Lynette Acholah

[2022-10-11 06:10] Lovelyfin00 commented on #439
Ok
My username is Nutjob on the slack channel

[2022-10-11 07:05] bebatut opened #443 "Previous cohorts are now hard to find"
We changed the navbar lately: we removed the drop-down menu linking all previous cohorts and add instead a table on the main page with all cohorts, including links and the table is linked in the drop-down menu "OLS program".

But it seems confusing, and people could not find the previous cohorts.

Here are some comments from community members:
- "I think the cohorts would be nicer to have on a sep

[2022-10-11 07:17] bebatut opened #444 "Blog post / stories: tag posts with stories or news and make both accessible from navbar"
Currently, there are blog posts / stories by mentees, mentors, and programme updates. There are all accessible via the Stories page. But if you're not familiar with the programme it is kind of difficult to distinguish between the posts.

Suggested implementation:
-  Tag posts with stories or news
- Add a dedicated page for each category and make them accessible from the navbar

[2022-10-11 07:28] bebatut opened #445 "Clarify the landing page"
From a community member:

We thought program timeline would help people to understand the structure of the program. But maybe it is not really helping.

Any suggestions on what could be done there?

[2022-10-11 07:38] bebatut commented on #437
@Munnachienyi you will need to look at the template for the people and check how to fix the empty links

[2022-10-11 07:41] bebatut commented on #199
Anyone else here interested to review @Abiola-Zeenat  PR? Please have a look here #442

[2022-10-11 07:44] bebatut commented on #433
@oluwatobiBolu opened a Pull Request here #441. Anyone wants to review it?

[2022-10-11 07:55] bebatut commented on #414
It is merged now

[2022-10-11 07:57] baimamboukar commented on #438
Thanks for the clarifications!
I will soon raise a pull request about this....☄️

[2022-10-11 07:58] jilaga commented on #445
I think 'cluster' is the word. All the headings and their body on the landing page are clustered together and leave no room for breathing.

I suggest spacing out the headings more to improve the user experience of the landing page.

Thank you.

[2022-10-11 08:01] bebatut commented on #200
@Lovelyfin00 do you want to be assigned to this issue?

[2022-10-11 08:14] baimamboukar commented on #435
Okay Thanks...
I will do it

[2022-10-11 08:15] baimamboukar commented on #414
Thanks....
I will finish the task very soon ☄️

[2022-10-11 09:06] Munnachienyi commented on #437
do you mean the links to the GitHub page of the contributors

[2022-10-11 09:11] bebatut commented on #437
I do not know which links. You can install the wave extension in your browser and activate it on the people page to see where these links are empty

[2022-10-11 09:12] Ososeomo commented on #445
I agree with @jilaga users or audience find it easier to navigate pages when there isn't so much going on, if the headings are  also in certain hierarchy or order of importance, then it would make the landing page look less up tight and easy to the eyes.

[2022-10-11 09:14] Munnachienyi commented on #437
okay, i am not familiar with wave but i would try to see it through

[2022-10-11 09:16] jilaga commented on #443
**How to make the previous cohorts easier to find without overloading the navigation bar?**

Also, the cohorts table could be arranged in descending order and a visual hierarchy could be applied to easily differentiate the most recent cohorts from the previous cohorts at first glance.

[2022-10-11 09:21] baimamboukar commented on #414
Hello @bebatut ! I'm a little bit confused about this...

I saw that the ``CODE_OF_CONDUCT.md`` in the website repo has been used here (``code-of-conduct.md``) like so ```{% include CODE_OF_CONDUCT.md %}```

![image](https://user-images.githubusercontent.com/49169158/195050390-b7373faa-3a40-4d93-bb03-786503efed28.png)

### I'm wondering if replacing the content of ```CODE_OF_CONDUCT.md``` file wit

[2022-10-11 09:31] bebatut commented on #414
You need to change in the navbar directly, and remove the `code-of-conduct.md` file then

[2022-10-11 09:34] bebatut commented on #200
Please look at the documentation of [Jekyll](https://jekyllrb.com/) to understand how it works

[2022-10-11 09:50] baimamboukar commented on #414
Alright ☄️

[2022-10-11 10:51] ladyami commented on #439
hello I am aminaoyegoke for outreachy can we look at it together i just want to learn that you
I

[2022-10-11 10:58] Bisola15 commented on #337
HI @bebatut, I'm an outreachy applicant. I would like to work on this task 🤲🏾 Thank you

[2022-10-11 11:04] NPDebs commented on #199
Sure! I'll have a look.

[2022-10-11 11:17] NPDebs commented on #420
Hi @bebatut . Here's an update on my progress.
After inspecting this page for some hours, I realised that the problem is not just about the header. The entire page displays abnormal behaviour (excess space on the right) when the viewport width hits 570px.

This is caused by the <table> section, which overflows from the body. Adjusting the table will result in the expected behaviour.

[2022-10-11 11:23] NPDebs commented on #418
Alrightie. Thank you! @bebatut

[2022-10-11 11:25] Ososeomo commented on #432
Hi @bebatut I am an outreachy applicant andIi would like to fix this issue.

[2022-10-11 11:26] Ososeomo commented on #337
Hi @bebatut I am an outreachy applicant, I would like to work on this issue as a Ux designers, I'm great for this task

[2022-10-11 11:46] Ososeomo commented on #443
Another suggestion that I think could help is buy designing and developing  A  horizontal carousel of all the a cohorts can be designs (a prototype can be made and sent here if requested) each carousels have or indicates each cohorts with their distinctive logos and a brief intro . On clicking you get directed to a new page specifically designed for only a cohort and this applies to all the cohort

[2022-10-11 11:54] Ososeomo commented on #444
Hi @bebatut I suggest a page can be dedicated to this effect. This will increase the chances of page visitors viewing and navigating the page easily and  I think it will be easier for stories to be updates and put in an orderly form.
The Nav bar would serve a good use for this to remain user friendly

[2022-10-11 11:59] bebatut commented on #432
As defined in the [OLS Outreachy contribution guide](https://docs.google.com/document/d/1HP7qTBe-6YrCUYAVkrT441rGtF6zxzNbbz2E5RWQvTM/edit?usp=sharing),
- If someone else has already commented, let them try first
- If they don’t update after three days, the issue is “free” again, and you can pick it up.

@tnwoodard  were the first one to comment here. Are you still interested to work on this issue?

[2022-10-11 12:12] tolubishops0 commented on #437
Hi,
 I'd like to give this a shot!!

[2022-10-11 12:24] tnwoodard commented on #432
Thanks @bebatut.  Yes, I am still interesting in fixing the issue.

[2022-10-11 12:30] tnwoodard commented on #434
Hi @bebatut.  I have a question about one of the folders in the directory.  Is the _layouts folder where your partial view files are?

[2022-10-11 12:49] AdeolaAdekoya commented on #445
I also agree with what @jilaga and @ososeomo have said, I believe there are way too many words i which makes it hard to scan and also the text heir achy. It's hard to figure out what the most important information on the website is. I believe we could redesign it and potentailly work on developing it if thats fine

[2022-10-11 13:03] AdeolaAdekoya commented on #444
I believe that adding more links to the nav bar may make it a little more clogged up, so I believe that tags will be the most effective. However, in the meantime, perhaps a section can be created on the home page to welcome newcomers to the community by displaying excerpts from stories and blogs. This will direct them to the stories page, where they can choose what they want to read based on the t

[2022-10-11 14:02] bebatut commented on #444
The idea is to add a drop-down menu in the current "Stories" linking to both. Not adding another item in the navbar

[2022-10-11 14:05] bebatut commented on #434
The `_layouts` folder contains the HTML templates Jekyll uses to transform the Markdown content into HTML pages. See [Jekyll documentation about layouts](https://jekyllrb.com/docs/step-by-step/04-layouts/)

[2022-10-11 14:08] bebatut commented on #437
As defined in the [OLS Outreachy contribution guide](https://docs.google.com/document/d/1HP7qTBe-6YrCUYAVkrT441rGtF6zxzNbbz2E5RWQvTM/edit?usp=sharing),
- If someone else has already commented, let them try first. Here @Munnachienyi seemed interested so is assigned to the issue
- If they don’t update after three days, the issue is “free” again, and @tolubishops0, you can pick it up.

[2022-10-11 15:03] JulianaSau commented on #433
Hi @bebatut. I'd like to review the pr

[2022-10-11 15:31] NPDebs commented on #238
Hi @bebatut
These blocks of code (added to the custom.css file under the _sites directory) caused the required behaviour when I tested the site in my gitpod environment. However, git ignores this folder and so, the changes cannot be committed. I know I'm doing something wrong. Please help in any way you can. Thank you!

[code]
![ols-pr (2)](https://user-images.githubusercontent.com/105166953/19513

[2022-10-11 15:31] baimamboukar commented on #414
Already done ✅🎉
I applied these modifications here 🚩 #447

[2022-10-11 15:58] Etang-ken opened #448 "Page header not taking full width for mobile sizes."
On the OLS website, some page headers are not taking full width when reduced to mobile size. This is specifically for pages that have contents overflow that exceeds screen width e.g the home and resource pages.

![Screenshot (134)](https://user-images.githubusercontent.com/80832445/195140515-326ab288-a7e6-41ed-b541-9c298576faff.png)
![Screenshot (133)](https://user-images.githubusercontent.com/808

[2022-10-11 16:11] Munnachienyi commented on #437
hello, @bebatut am I to delete the empty links? thanks for assigning this issue to me

[2022-10-11 18:36] tolubishops0 commented on #448
Hi bebatut,
could I get a shot to work on this pleaseee???

[2022-10-11 19:07] laskelly commented on #448
@Etang-ken
I think this issue has already been opened here.
https://github.com/open-life-science/open-life-science.github.io/issues/420

[2022-10-11 19:15] NPDebs commented on #238
Hello again, @bebatut 😅

While reviewing someone else's PR, I think I got the hang of where the styles should go.

Please review the changes to see if everything is in order. Thank you! 🙌🏼

[2022-10-11 19:18] NPDebs commented on #448
Hi @Etang-ken.
This has already been opened (at #427).

[2022-10-11 19:21] Etang-ken commented on #448
That seems to be a different issue.

[2022-10-11 19:26] tolubishops0 commented on #444
Hi
Can I work on the drop-down menu, please?

[2022-10-11 19:31] tolubishops0 commented on #166
Hello, is this still opened pls?

[2022-10-11 19:38] IdayatSanni commented on #200
Hello, can I be assigned this task?

[2022-10-11 19:39] AdeolaAdekoya commented on #444
Alright, this makes it more clear, thank you.

[2022-10-11 19:41] IdayatSanni commented on #200
Hi @bebatut, I don't know if this has been assigned. Can I work on this?

[2022-10-11 19:48] IdayatSanni commented on #201
Hello @yochannah, can I claim this issue and build this page?

[2022-10-11 20:28] Munnachienyi opened #450 "Absence of favicon when the website is ran"
A favicon is used to help users visually identify websites, web pages, and web applications more easily within browser tabs, bookmarks, shortcuts, and address bars more easily.

here is what I mean:

![favicon](https://user-images.githubusercontent.com/105428107/195191958-2fc9d855-cd8d-4219-a380-3c899bada145.png)

[2022-10-11 20:38] Njong392 opened #451 "Create automatic releases"
I noticed that the last time there was a release, it was back in 2021. Perhaps we could create a releases.yml file that automatically updates the version based on conventional commits.

Check out conventional commits [here](https://www.conventionalcommits.org/en/v1.0.0/)

[2022-10-11 21:08] Njong392 commented on #437
In the `layouts` folder you'll find the `people.html` file you need to work on :+1:

[2022-10-11 21:17] Njong392 commented on #437
@bebatut When you say empty links here I don't quite get it. I ran my wave extension and it did give me the same flags. Does it mean the links are broken? or that they do not lead anywhere? Because the links work...

[2022-10-11 21:40] Njong392 commented on #438
Okay, I found a nice color that could get the contrast issue to sit better. @bebatut is there a specific CSS file that needs updating for the contrast issue to be resolved?
![Screenshot from 2022-10-11 22-37-55](https://user-images.githubusercontent.com/81039882/195203406-f73dbed4-9897-436a-8d06-13de0e58ff81.png)

[2022-10-12 07:38] Jolah1 commented on #450
hello, I am an ouutreachy applicant, i would love to work on this issue.

[2022-10-12 07:40] Munnachienyi commented on #437
I experienced same yesterday,the link works but not all does. Some of the links points out to a  nonexistent GitHub address or Twitter handle
What do you suggest @bebatut ?

[2022-10-12 10:08] Esyteck opened #453 "Grammatically error on the application page on the website"
I noticed a grammatical error while going through the application page on the website. I have highlighted the error in the attached image.
![Screenshot 2022-10-12 at 10 55 14](https://user-images.githubusercontent.com/112022744/195314998-240155da-4a30-457a-a07e-a33949c6809b.png)

[2022-10-12 10:58] Esyteck opened #454 "Typographical error on OLS landing page"
1. Weekly emails
  1. [ ] Send email to mentees
  1. [ ] Send email to speakers
3. Cohort call video preparation
  1. [ ] Download from Zoom cloud recordings
  2. [ ] Upload to Otter.ai (_will need a few minutes to process_)
  3. [ ] Upload to the OLS YouTube account
  4. [ ] Create a front page slide for the video - templates are available in Google Drive
  5. [ ] Make sure the YouTube video is a

[2022-10-12 11:55] bebatut commented on #454
I do not understand what is the error here

[2022-10-12 11:56] bebatut commented on #453
I am not sure to see the error here. Could you fix it directly?

[2022-10-12 11:58] bebatut commented on #437
I am not sure what does the error really mean. Could you look at the documentation about this error and see how it could be fixed?

[2022-10-12 11:59] bebatut commented on #450
Thanks @Jolah1 for reporting this error.
It is something the Outreachy could work on together when rebranding will be done

[2022-10-12 12:33] Munnachienyi commented on #450
I spotted the error @bebatut.i am also an outreachy applicant, does this mean the issue would be left open?

[2022-10-12 12:36] bebatut commented on #450
Yes the issue will be left open

[2022-10-12 12:37] Esyteck commented on #454
![IMG-20221012-WA0008](https://user-images.githubusercontent.com/112022744/195344307-8fa44db1-2434-4c99-96a1-ff4c689dfc1f.jpg)

[2022-10-12 12:40] Esyteck commented on #454
![Screenshot_20221012-133920_1](https://user-images.githubusercontent.com/112022744/195344906-3a5a721b-b98f-4342-b529-a328f0156c7e.jpg)

[2022-10-12 12:43] bebatut commented on #454
And what is the error?

[2022-10-12 12:44] Esyteck commented on #454
"Applications for OLS-7 will open in end 2022". I think we can modify the sentence ma'am. "Sign up to our low traffic news list to hear when the next cohort applications open". I also think we should modify the second sentence ma'am.  I think it should be "to get update on the next cohort application" I'm sorry for stressing you

[2022-10-12 12:48] Esyteck commented on #454
"OLS-7 will open in end 2022". I think we should modify the sentence ma'am.
Secondly, "sign up to our low-traffic news list to hear when next cohort
applications open". I think we should modify the second sentence too
ma'am.

On Wed, Oct 12, 2022, 1:43 PM Bérénice Batut ***@***.***>
wrote:

[2022-10-12 12:49] Esyteck commented on #453
Sure I can. Thanks for the opportunity

On Wed, Oct 12, 2022, 12:56 PM Bérénice Batut ***@***.***>
wrote:

[2022-10-12 12:49] bebatut commented on #238
@NPDebs seems to have fixed the issue here #449
Does anyone want to review the Pull Request, test it locally and check if the issue is really fixed?

[2022-10-12 12:51] bebatut commented on #454
How should it be modified do you think?

Sounds good. Please make the change :)

[2022-10-12 12:52] Esyteck commented on #454
Got it, thanks!

On Wed, Oct 12, 2022, 1:51 PM Bérénice Batut ***@***.***>
wrote:

[2022-10-12 12:53] bebatut commented on #448
This issue seems similar to this one #420. Can you comment on the #420 issue? I will close this one

[2022-10-12 12:53] #448 closed

[2022-10-12 12:55] bebatut commented on #166
This issue is outdated. I will close it

[2022-10-12 12:55] #166 closed

[2022-10-12 12:58] Bisola15 commented on #445
Taken from what everyone has said, it isn’t t so much as too much word as arrangement on the Landing page. The entire Landing page itself is not as long as lots of landing pages out there. Agreeing with @jilaga we can have more visual hierarchy on the page that enhances viewers scan-ability.

Some information Seem to be repeated across different pages, we can have those eliminated with a clear dir

[2022-10-12 13:00] Bisola15 commented on #445
Would be nice yeah... but @bebatut  said on slack today that its the job of  interns and we can only fix minor issues.

[2022-10-12 13:06] bebatut commented on #444
As defined in the [OLS Outreachy contribution guide](https://docs.google.com/document/d/1HP7qTBe-6YrCUYAVkrT441rGtF6zxzNbbz2E5RWQvTM/edit?usp=sharing),
- If someone else has already commented, let them try first
- If they don’t update after three days, the issue is “free” again, and you can pick it up.

@Ososeomo   were the first one to comment here. Are you interested to work on this issue? Y

[2022-10-12 13:13] bebatut commented on #451
Thanks for the idea @Njong392. The best would be likely to make release at the end of every cohort, i.e. every 6 months

[2022-10-12 13:35] Bisola15 commented on #443
So with what @Chalcedony219 I quite agree. We can have the recent OLS cohort name on the nav bar and have 'previous cohort' as a dropdown right under. That then leads to a page where all the previous cohort will be arranged.

For visibility of the cohort arrangement, we can have cards with the name of the cohort on them ( e.g OLS-1, OLS-2 etc...) and their given name (e.g Hope, Persecution. etc) p

[2022-10-12 14:01] Njong392 commented on #451
Oh okay. I opened a pull request to update the version on every commit which has the conventional style. I'll try to update the PR.

[2022-10-12 17:47] Ososeomo commented on #445
@Bisola15 @bebatut asked for suggestions and @jilaga and I gave some suggestions based on what she asked.

[2022-10-12 17:48] Ososeomo commented on #198
Is this issue still available to be worked on @bebatut ? if yes, ill like to work on it

[2022-10-12 17:55] Lovelyfin00 commented on #198
Yes

[2022-10-12 22:22] 1Joda commented on #443
@bebatut
I want to move 'Cohorts' from programs to OLS-6.
When you click on cohorts there, it leads to a page that looks like the image below
![Screenshot (22)](https://user-images.githubusercontent.com/102422875/195458216-904051b1-61ce-417a-857d-06f614fc6035.png)
The 'screen' on the left is the front of the card (from @Bisola15 's suggestion) and the 'screen' to the right is the back. It flips ov

[2022-10-13 03:52] NPDebs commented on #418
Hi @bebatut. 😃

I'm now free as a bird! Well, technically, my PRs are yet to be reviewed and merged. 😅

Can I please start working on this one while I wait? Please, please, pretty please! 🙏🏼

[2022-10-13 04:08] Bisola15 commented on #337
Hi @bebatut It's been three days since last comment on interest, so I assume the issue is free again as given in the guideline. I have some UI I made for this and I will drop them now. Thank you 😊

[2022-10-13 04:14] Bisola15 commented on #337
![OLS-5](https://user-images.githubusercontent.com/81020434/195497211-22a220b5-e5f7-4d18-81b0-2c0e7b610c44.png)
![OLS-5](https://user-images.githubusercontent.com/81020434/195497214-28f46e30-79e2-4986-b4e4-bdbb72d68b07.svg)

This is a first sample. I noticed it was an android mobile view so I followed suit. I did a little redesign of the banner is that alright  and fixed the alignment issue. Feedb

[2022-10-13 04:15] Bisola15 commented on #337
![OLS-5 sample 2](https://user-images.githubusercontent.com/81020434/195498458-ea36070e-45cd-475d-a342-3f5f0340bfec.png)
![OLS-5 sample 2](https://user-images.githubusercontent.com/81020434/195498475-8518ed47-8213-4a8b-9434-bada5ec8ed8b.svg)

This is the second sample

[2022-10-13 04:23] DOC-ELIJAH commented on #337
Hi! Good job Bisola.
The second sample is still within the confines of the design theme which is cool. On the other hand, the first sample is catchy and compliments the dominant theme of the website.

@bebatut  I'd love to implement this once it's been reviewed and approved. 😊

[2022-10-13 04:28] Bisola15 commented on #445
Hi, Oh yes I understand. I was looking at the timeline and figured it was around the time we were planning on working out some sketches. I was only bringing to notice what @bebatut  had said on slack, I apologize if that came off wrong.  I was referring to this statement... 'believe we could redesign it and potentially work on developing it if thats fine'

[2022-10-13 04:35] Bisola15 commented on #443
I love your effort 😌💃🏾 and how you brought the idea to life in short time.. Well done 👏🏾. The task is labelled discussion though, so I don’t think we’re supposed to work on it. We're just supposed to talk about what we think can be made better... I might be wrong, we'll wait fo @bebatut input 🤲🏾

[2022-10-13 04:57] DOC-ELIJAH commented on #436
@bebatut is this still open?

[2022-10-13 05:26] Esyteck commented on #454
Hi ma'am. Greetings from this end. After thoroughly going through the repo,
I discovered that the content to that paragraph is hidden and I do not have
access to it.

On Wed, Oct 12, 2022, 1:52 PM Esther Okoli ***@***.***> wrote:

[2022-10-13 06:11] 1Joda commented on #443
Thanks @Bisola15. Will definitely wait for @bebatut now. Did not notice the discussion tag.

[2022-10-13 06:52] bebatut commented on #443
Thanks for the thoughts there

Some comments
- Important one: we need to keep somewhere a table like the one available currently. It is really helpful for us, the organizers, to have the numbers and dates of the cohorts aggregated somewhere
- The different links in the actual table are important, specially the projects and schedule. So they must be clearly visible
- There are discussions currently

[2022-10-13 06:52] bebatut commented on #454
The content is here: https://github.com/open-life-science/open-life-science.github.io/blob/main/index.md#applications

[2022-10-13 06:54] bebatut commented on #436
Yes it is still open. I assign this issue to you

[2022-10-13 06:56] kosonyemedaniella commented on #445
I agree with @jilaga and @Ososeomo i think that there should be spacing. White space is important as it allows the design to breathe and allows the users to see the all of the information. It also provides clarity.
As for the program timeline , the typography size should be increased and a link should be provided for the program timeline to avoid clustering.

[2022-10-13 06:59] bebatut commented on #337
Thanks for the suggestion here.
I did not realize before but this issue is redundant with #238. And @NPDebs proposed a fix here in #449
Feel free to review @NPDebs' PR

[2022-10-13 06:59] #337 closed

[2022-10-13 07:03] Esyteck commented on #454
Hi ma'am please I humbly request for the source code so that I can have
access. Thanks

On Thu, Oct 13, 2022, 6:26 AM Esther Okoli ***@***.***> wrote:

[2022-10-13 07:04] bebatut commented on #454
I gave the link to it in my previous comment

[2022-10-13 07:14] bebatut commented on #418
Ok. I assign it to you @NPDebs

[2022-10-13 07:16] DOC-ELIJAH commented on #436
@bebatut Thanks for assigning this issue to me.
Please can I get a lead on what I should do. So far, I know that schemas are used to make website pages indexable on search engines and in extension bioschemas narrows this objective to life sciences.

[2022-10-13 07:19] bebatut commented on #436
The best is to embed JSON-LD in the generated HTML, so in the Jekyll template used to create the schedule pages.

Here are some documentation that could be useful: https://bioschemas.org/tutorials/what_why_schema
To validate the schema.org you can use: https://validator.schema.org/

[2022-10-13 07:23] DOC-ELIJAH commented on #436
Thank you 😊

[2022-10-13 07:34] NPDebs commented on #418
Thank you, @bebatut ! 🙌🏼🥰

Just to be verify my understanding of the issue, I have a few questions, please.

This is a project called "ABC..." **Vicky Hellon** is a participant.

![Screenshot_20221013-082844_Chrome.jpg](https://user-images.githubusercontent.com/105166953/195530911-02d19faf-6732-4d98-b016-f568d8c69aef.jpg)

When I click on her name, it goes to her bio. The goal of this issue is to

[2022-10-13 07:37] bebatut commented on #418
Yes that is the idea.
If you look also at the people page, you can see the role of people in the different cohorts. It could be nice when they were participants to add also there the link to their project in the cohort they participated to

[2022-10-13 07:52] NPDebs commented on #418
Okay. 👌🏼 I understand the first part of the task.

When I got to the [people page](https://openlifesci.org/people), this is what I find...
![Screenshot_20221013-085059_Chrome.jpg](https://user-images.githubusercontent.com/105166953/195535771-e15de778-f6f3-4d0f-a670-a66fe7e5cb34.jpg)

[2022-10-13 08:01] 1Joda commented on #443
The table can be underneath the cards shown. With a header like 'Overview of the Cohorts'. After the other things i stated earlier
The logos can maybe replace the green color of the cards

Was @Bisola15 right and this is just a discussion or should i keep going?

[2022-10-13 08:01] bebatut commented on #418
below you see more details about the people

[2022-10-13 08:11] NPDebs commented on #418
Ah. Yes yes! Seen.

I'll get right on it, and revert to you if I have some more questions. Thanks for your patience. 🙏🏼

[2022-10-13 08:55] Esyteck commented on #454
I've fixed it. Waiting for the review. Thanks.

I hope I'm not bothering you too much?  Please Forgive my disturbance.
Hahahahaha

On Thu, Oct 13, 2022, 8:04 AM Bérénice Batut ***@***.***>
wrote:

[2022-10-13 09:44] oneboyfromife opened #458 "Redesign the footer of the website"
I feel we can work on the style of the footer of the website

[2022-10-13 09:55] DOC-ELIJAH commented on #436
Hi @bebatut please I need clarity on the last statement here. Am I to make the schedule template an annotation of each cohort call with the Bioschemas course profile? Where can I find the schedule template, please?

[2022-10-13 11:24] jilaga commented on #458
What are the changes you suggest?

[2022-10-13 11:26] bebatut commented on #436
The template for the detailed schedule is there: https://github.com/open-life-science/open-life-science.github.io/blob/main/_includes/detailed-schedule.md

[2022-10-13 14:05] lisaomoh101 commented on #445
I agree with @jilaga and @Ososeomo  after taken time to view the landing page. I feel this where we put in place  some Laws of UX, The landing page is the first interface every use interact with when opening a webpage and it has to give users more understanding when navigating each elements on the page.
I will love to work with you guys on this issue.

[2022-10-13 14:32] Etang-ken commented on #458
@oneboyfromife, yes true. We can re-design it and get rid of that white space in the middle.

[2022-10-13 14:33] lisaomoh101 commented on #443
@Bisola15 nice one, @bebatut The card is a good choice to differentiate each cohort and its more visible to user but i thinks the link to each cohort can be placed on the card so as to make it easy for users navigate to each cohort details which will limit the landing page being too crowded with so much details. the Table with all its details can be created on its own page where a link will take u

[2022-10-13 14:39] lisaomoh101 commented on #438
@baimamboukar can i work with you on this if still avaliable, please DM me on the slack page @Lisa omojevwe

[2022-10-13 14:41] baimamboukar commented on #438
Hello @lisaomoh101...

Yes it is still available ☄️

[2022-10-13 18:18] lisa commented on #438
# `@lisa` User Notification

Hello! You're receiving this notice because you've tagged me, @lisa, on GitHub, likely in error. Lisa is a common first name, and happens to be mine. I use the @lisa username here on GitHub. While being tagged in various repositories is an interesting way for me to discover new projects, it's likely not your intention. Did you mean to tag someone else? Did you mean to

[2022-10-14 06:44] #157 closed

[2022-10-14 06:44] #164 closed

[2022-10-14 06:45] #85 closed

[2022-10-14 07:06] bebatut commented on #417
Anyone interested in the reviewing the PR from @oluwatobiBolu  here #430

[2022-10-14 07:09] Jolah1 commented on #417
On Fri, 14 Oct 2022 at 8:06 AM, Bérénice Batut ***@***.***>
wrote:

I’m interested, I will start reviewing now if that’s ok @batut

[2022-10-14 08:24] nwamakaakah opened #462 "Meta tag and Meta description for SEO"
Hi @bebatut I noticed that the OLS site does not have a meta tag and description which helps for SEO ranking. The current meta tag is 'OLS' which is not descriptive enough

[2022-10-14 08:39] nwamakaakah commented on #443
@bebatut I agree with everyone else who has said the Cohorts should be in the navigation bar while still having the table in the home page as easy reference. I also think the table can be better represented. I generally think the website can be redesigned. I also noticed that there are no clear Call To Actions and the photos are not properly optimized for people with lower bandwidth

[2022-10-14 09:03] nwamakaakah commented on #445
The website itself needs a redesign. I believe that new design systems should be created putting into consideration hierarchy using sizes and colours, clear primary and secondary Call To Actions and also as every else has noted; the use of white space. Also using text width as I noticed that the texts span a certain width which makes it hard for the eye to read through.

Particularly, the area tha

[2022-10-14 09:30] tnwoodard commented on #432
Good morning. Unfortunately, I am stuck on how to fix the alignment of people's information. Maybe someone else can try? Thank you.

[2022-10-14 09:32] tnwoodard commented on #434
Thank you @bebatut. I am having trouble with the embed. Can someone else take a look?

[2022-10-14 09:36] yochannah commented on #462
that is great - please do make a PR!

[2022-10-14 11:25] Munnachienyi commented on #437
@bebatut I have been struggling for days now to remove broken website links, but when I run the web accessibility tool, it feels like I am doing nothing.please help

![web access](https://user-images.githubusercontent.com/105428107/195835794-b62ff021-b516-4408-a86a-fbec7dbd5dbe.png)

[2022-10-14 12:25] bebatut commented on #437
To follow, can you explain me more in details what you did?

[2022-10-14 12:38] Munnachienyi commented on #437
I navigated to the people.yaml file to edit, i deleted the broken website links and went ahead to run the wave extension and was greeted with the empty link.

[2022-10-14 12:39] bebatut commented on #437
Can you open a draft Pull Request so I can have a look?

[2022-10-14 14:44] Munnachienyi commented on #437
I tagged you in a draft pull request

[2022-10-14 15:15] bebatut commented on #437
Thanks. I will have a look

[2022-10-14 17:00] hsadia538 commented on #417
Hi anyone can take up the issue

[2022-10-14 21:52] nwamakaakah commented on #443
https://summerofcode.withgoogle.com/archive Google summer of code does this pretty well. It can be used as reference

[2022-10-15 06:32] DOC-ELIJAH commented on #436
Thanks so much, @bebatut you've been super helpful. I now fully understand what should be done but there's still a tad bit of constraint for me to navigate the code base. Is this [https://github.com/open-life-science/open-life-science.github.io/blob/main/_includes/detailed-schedule.md](https://github.com/open-life-science/open-life-science.github.io/blob/main/_includes/detailed-schedule.md) same a

[2022-10-15 06:42] ricMbugua commented on #417
Let me take up the issue

[2022-10-15 06:45] ricMbugua commented on #417
If the issue is still open I can work on it

[2022-10-15 10:13] Munnachienyi commented on #438
hello @baimamboukar have you figured this issue out yet

[2022-10-15 10:28] nwamakaakah commented on #462
This issue is connected to PR #468

[2022-10-15 18:08] kamzzy commented on #458
@oneboyfromife  can i get assigned to this, am an outreachy applicant

[2022-10-15 19:05] NPDebs commented on #418
Hi @bebatut. 👋
Here's a little progress update from me to you...

In the _people.yaml_ file, I added a new `key`, named `projects` and assigned its `value` to be the name of the project the individual participated in. (Note: This info was gotten from the _projects.yaml_ file of each cohort)

Additionally, I specified the `cohort` of the individual as a new key.

In lines 74-79 of the `people.html`

[2022-10-15 20:24] DOC-ELIJAH commented on #436
Hello @bebatut added the schema/bioschema annotation for each cohort and validated the schema markup with no errors after compilation. Made a pull request on "Hope" branch please do review when you have the time.

[2022-10-15 20:29] DOC-ELIJAH commented on #434
@tnwoodard I can try?

[2022-10-16 07:13] dipanshuraz commented on #458
Hi @bebatut , I'm an outreachy applicant, I'm interested in working on it.

[2022-10-16 07:15] dipanshuraz commented on #453
Hi @bebatut , I'm an outreachy applicant, and I'm interested in working on it. Please assign me

[2022-10-16 07:17] dipanshuraz commented on #416
Hi @bebatut , I'm an outreachy applicant, and I'm interested in working on it. Please assign this to me

[2022-10-16 07:21] Esyteck commented on #453
It is fixed.

On Sun, Oct 16, 2022, 8:15 AM Deepanshu Prajapati ***@***.***>
wrote:

[2022-10-16 11:02] tnwoodard commented on #434
I’m not sure if you were the next person, Hope. You may want to ask the
coordinator.

On Sat, Oct 15, 2022 at 9:30 PM hopeanthonie ***@***.***>
wrote:

[2022-10-17 02:15] iremide1022 commented on #433
I would love to work on this🙏 @bebatut

[2022-10-17 06:37] bebatut commented on #433
@iremide1022, @oluwatobiBolu worked on this issue and opened a Pull Request #441 . You can review it if you want

[2022-10-17 06:38] bebatut commented on #434
@tnwoodard you say you have trouble. Can you explain? Could you and @DOC-ELIJAH work together on that?

[2022-10-17 06:38] #453 closed

[2022-10-17 06:39] bebatut commented on #416
I assign this issue to you @dipanshuraz

[2022-10-17 07:58] jilaga opened #471 "Contents of the Schedule image on the landing page is illegible."
Hi, I noticed that the contents of the program's schedule diagram on the landing page are barely legible.

I had 2 ideas on how to fix this;
- Editing the source image to increase font sizes or
- creating an image modal that opens the image full screen when you click on it

[2022-10-17 08:41] bebatut commented on #418
Thanks @NPDebs for the initial work there.

Regarding adding project information in the  `people.yaml` file
- I try to avoid adding several time the same information in different location: it gets easily unsynchronized. The information about in which project people are involved is already available in the `ols-x-projects.yaml` files
- The `people.yaml` should also only keep information about the p

[2022-10-17 13:08] #414 closed

[2022-10-17 14:48] Bisola15 commented on #443
Hi @lisaomoh101 Thank you!  so the idea is the same. The card itself is sort of like a "LINK", that was what I meant

[2022-10-17 18:39] pazbc opened #473 "OLS-6 syllabus week-05 on website, two small fixes needed"
Hi! In the OLS syllabus for week 05 of OLS-6 (17-21 October 2022) there is something that should be deleted: "enable a small website via GitHub". And also OLS-4 should be replaced by OLS-6. It should say: "Have a look at the OLS-6 repository for project issues". The link to this repository is https://github.com/open-life-science/ols-6/issues

<img width="1235" alt="Screen Shot 2022-10-17 at 14 58

[2022-10-17 18:42] Chimatara opened #474 "No Link Inserted to contact the support Team"
Hi!
I'm an outreachy Applicant.
In the OLS application guidelines, I noticed in the paragraph where applicants were asked to contact the support team if any help is needed. I think a link should be inserted in the "OLS team" for easy accessibility so applicants do not have to go looking for how to reach the team.

Thank you
![Untitled design](https://user-images.githubusercontent.com/65595525/1962

[2022-10-17 18:56] Chimatara commented on #474
I can fix the issue

[2022-10-17 18:56] 1Joda commented on #443
Hey there! I have submitted a pull request on this that you can check out if you wanna ;)

[2022-10-18 04:22] iremide1022 commented on #445
I agree with this a landing page should be kept simple and quite understandable for users! When do we jump right into it @bebatut

[2022-10-18 06:43] bebatut commented on #445
The design of the website will be something that both interns will work together on during the internship. For the contribution phase, we would prefer that you show us your technical skills as a big part of the internship will be quite technical, working on the website infrastructure with Jekyll, e.g. reduce the existing redundancy in the different templates by developing or using existing Jekyll/

[2022-10-18 06:44] bebatut commented on #474
I assigned this issue to you @Chimatara

[2022-10-18 08:23] Chimatara commented on #474
Thank you.

[2022-10-18 08:57] thechimdi opened #475 "No favicon"
It would be good to have a favicon consistent with the OLS logo instead of just using text

[2022-10-18 10:51] thechimdi opened #476 "Email icon needed on website"
The” @“ icon at the email needs to be replaced with a proper email icon in the “Get in touch” section on the website. The email can be rewritten as team@opensci.org instead of team[at]opensci.org.

![8F49E883-891E-4986-B0C3-4F83CAF4F014](https://user-images.githubusercontent.com/115953183/196409995-0806eade-06b0-4dcf-b7cd-2fbef5bfabd8.png)

[2022-10-18 11:15] bebatut commented on #476
It is on purpose to have team[at]opensci.org instead of [team@opensci.org](mailto:team@opensci.org)

[2022-10-18 11:56] Chimatara commented on #474
Hello @bebatut I have fixed the issue, here is a link to the PR Chimatara:My-Changes

[2022-10-18 12:03] Chimatara commented on #474
Hello @bebatut
I have fixed the issues and made a pull request, here is a link to review the changes made.
https://github.com/open-life-science/application-forms/pull/6

[2022-10-18 12:24] Chimatara commented on #473
HI @pazbc  what do you think should be replaced with "enable a small website via GitHub"

[2022-10-18 12:44] Bharlikiss commented on #471
@jilaga Are you working on this or can i be assigned to it?

[2022-10-18 12:53] Chimatara commented on #439
HI @bebatut how do I get the source code for this page, I think I can work on it.

[2022-10-18 13:12] bebatut commented on #439
The source is there: https://github.com/open-life-science/open-life-science.github.io/blob/main/_includes/detailed-schedule.md

[2022-10-18 13:58] AndreaSanchezTapia commented on #475
Hi, @thechimdi, thanks for commenting. Please check if this is the same topic mentioned in issue #450. As @bebatut mentioned there, this can be worked on by the interns when rebranding.

[2022-10-18 14:39] AndreaSanchezTapia commented on #473
Hi @Chimatara it's only deleting that item, with no replacement.

[2022-10-18 14:54] Chimatara commented on #473
Alright, I'll make the changes you proposed and pull a request.

On Tue, Oct 18, 2022, 3:39 PM AndreaSanchezTapia ***@***.***>
wrote:

[2022-10-18 14:59] oluwatobiBolu commented on #417
i already made a pull request
awaiting review from @bebatut

[2022-10-18 15:02] AndreaSanchezTapia commented on #458
Hi all! The interns of both projects will solve everything related to design/redesign later, while working on the rebranding. Any work today in this respect runs the risk to be overridden in the future by them.

For now, try to find contributions that are related to the technical side of the site  ;)

I will leave the issue open for future reference.

[2022-10-18 18:12] iremide1022 commented on #433
@oluwatobiBolu and @jilaga nice work you have got here!

[2022-10-18 18:20] iremide1022 commented on #432
@tnwoodard where did you get stucked?

[2022-10-18 18:56] tnwoodard commented on #432
The people's information did not align after creating container divs to
encompass all of the person's details. (Please see the div.id called
"people".)  Do you see it in _includes/people.html?  I also tried to create
this same div after the "people" div in _layouts/people.html.

Please let me know if you want to message/chat offline about it.

On Tue, Oct 18, 2022 at 7:20 PM Iremide ***@***.***> w

[2022-10-18 21:50] NPDebs commented on #418
Hi @bebatut. 👋

Progress update: Not so much progress.
I successfully extracted the **projects** in each cohort by looping through `ols-1-projects.yaml`.

[code]
I rendered that on a page to confirmed that it worked. See **screenshot** below:

![Screenshot (298)](https://user-images.githubusercontent.com/105166953/196537503-9a7be948-f123-4501-9db4-dc6c5506afb1.png)

To render the specific project

[2022-10-19 04:21] NPDebs commented on #420
@bebatut I think you forgot to close this issue. 👀

[2022-10-19 06:47] bebatut commented on #420
Nice catch

[2022-10-19 06:47] #420 closed

[2022-10-19 08:23] iremide1022 commented on #458
Oh wow, noted @AndreaSanchezTapia

[2022-10-19 14:52] NPDebs commented on #418
Hi @bebatut. I'm glad you approve of my approach, however fruitless it may seem at the moment. 😂

What's displayed on the card is actually the name, and not the description of the projects. That particular project seemed to have a really long title. 😃

About the linked commit.......I removed the block of code that threw an error.
Would you like me to put that back in and push?

[2022-10-19 15:31] NPDebs commented on #418
Well, for one...I'd like to know how I can relate all the keys in a particular project to each other.

If the participant is in the same place as the "name" of the project, then render the name of the project.

It seems so straightforward. Yet, the logic has been flying over my head for days.

[2022-10-19 15:57] bebatut commented on #418
I think I am not sure to follow / understand here

[2022-10-19 16:19] NPDebs commented on #418
Okay. Here's my train of thought.

Loop through the participants. Within that loop, begin to loop through the project.yaml file.

 For each participant, check if the person's is the same as `project.participants`. Then capture the name of that project (where person == participant name), and render it on the card.

Does that make much sense?

If it's not too much to ask, can we do a quick Slack cal

[2022-10-19 17:03] 1Joda opened #480 "'Our Stories' Timestamp and Authors blending in"
Hi!
I noticed that in 'Our Stories' the authors and timestamp blend in with the excerpt of the story.
When the fix for removing the lines underneath links is implemented, it will blend in more

I think we should make the font size smaller (especially the timestamp's) and separate the two (The timestamp to be aligned on the left, and the authors aligned on the right - on the same line)
![Screenshot

[2022-10-19 17:03] 1Joda commented on #480
I can work on this @bebatut

[2022-10-19 18:28] vasconsaurus commented on #198
working on it, but if there is anyone else working on it please let me know 🙈

[2022-10-19 20:07] JulianaSau commented on #445
I think the page could use a bit more visuals. I believe when people get to the landing page, they skim through the page and a lot of wording may fail to capture their attention or elicit an intrigue for what the site is about. The timeline could be presented in a tabular manner to make the data look more organized and structured. Also, the line spacing is very small thus making the page look clut

[2022-10-19 21:34] Chimatara opened #483 "Proper Alignment on Images and Texts in the "STORIES" Page"
Hello.
I noticed while interacting with the website that the images and texts on the "stories" page needs to be proper aligned so not to distract the attention of readers. I also think that the introduction to some stories should be reduces so their is uniformity with those that have short introduction.

Hi @bebatut what do you think?

[2022-10-20 06:51] bebatut commented on #483
This issue is similar to the one here #433
Please comment there

[2022-10-20 06:51] #483 closed

[2022-10-20 06:58] bebatut commented on #418
The loop over the `project.yaml` file are already done before in the page to get if people participated in cohorts.
You could use that loop to extract projects for each cohort.

Then when looping on the people to create the card, you could check their status (in which cohort they participated) and for the cohort in which they were participants, looping on the projects for that cohort to extract th

[2022-10-20 07:20] Chimatara commented on #483
Thank you!

[2022-10-20 07:20] Chimatara commented on #433
Hi @oluwatobiBolu can I message you on slack?

[2022-10-20 07:29] AndreaSanchezTapia commented on #475
I will close this issue and you can comment there (#450)

[2022-10-20 07:29] #475 closed

[2022-10-20 07:46] NPDebs commented on #418
Hi @bebatut.
Thank you for your response. Yes, I was actually following your explanation, until my brain got stuck in all the loops. 😄

When you say a loop has already been done, do you mean from line 41?

Yesterday, I was looking at how you wrote the logic for a similar thing, [here](https://github.com/open-life-science/open-life-science.github.io/edit/main/_ols-1/projects-participants.md). It ga

[2022-10-20 13:20] oluwatobiBolu commented on #433
sure
i'm oluwatobi adelakun on slack

[2022-10-20 19:55] Chimatara commented on #433
Thank you @oluwatobiBolu

[2022-10-20 22:06] AndreaSanchezTapia commented on #437
Just linking here the PR: #467

[2022-10-21 05:25] Munnachienyi commented on #437
thanks @AndreaSanchezTapia

[2022-10-21 07:23] bebatut commented on #418
Yes

I think I do not understand your logic there. Participants are extracted from the `ols-1-projects` (in loop starting in line 41) so it is better to use the previous loop .
And also if you loop there, you are not yet in the big loop on the people so the project name will not be rendered.

Try to implement my suggestions from yesterday

[2022-10-21 08:29] tolubishops0 commented on #445
I believe she said the interns would work on the redesign once they get in

[2022-10-21 08:31] tolubishops0 commented on #444
@bebatut  Good Morning!!
Has this issue been fixed please?
Its been a week so far we've not seen any update in this regard

I'd like to work on this if it is still available please

[2022-10-21 08:36] bebatut commented on #444
oluwatobiBolu opened a Pull Request here #482
@tolubishops0 you can have a look and also review :smile:

[2022-10-21 08:52] tolubishops0 opened #485 "Images on the Stories page do not allign"
The images in the stories page are not aligned as there are some  images with wider widths and heights from others. And also I think the texts underneath said images are not justified and their widths do not match that of the images above them.

This makes the page and markup generally not aligned

[2022-10-21 08:59] bebatut commented on #485
This issue has already been raised here  #433

[2022-10-21 08:59] #485 closed

[2022-10-21 09:31] tolubishops0 commented on #485
Sounds good!
thanks

[2022-10-21 09:32] tolubishops0 commented on #444
Alright!

[2022-10-21 11:04] NPDebs commented on #418
Hi @bebatut.
Yesterday, after brainstorming with a fellow Outreachy participant, we were able to output the title of one participant's project on her card.
But the twist is, it also got printed on all the participants for OLS-1. 😅 A problem in the loop, apparently.

Thank you for your suggestions. I'll try to implement them as soon as I resolve the Gitpod/Miniconda situation.

Yes, I'll be joining

[2022-10-21 12:41] vasconsaurus commented on #198
**Update**
- updated the `projects-participants.md` to show the status
- tested with one project by updating the `ols-x-status.yaml`
- currently waiting for the data to update the status of the projects

<img width="389" alt="Screen Shot 2022-10-21 at 09 39 46" src="https://user-images.githubusercontent.com/87862340/197197858-4cbb7608-25d9-402e-9293-b29d1284e7aa.png">
<img width="678" alt="Screen

[2022-10-22 18:06] vasconsaurus commented on #438
Hey everyone!
If this hasn't been done (I couldn't find a PR for this), I think using the same green (`#265F3F`) as in [PR#430](https://github.com/open-life-science/open-life-science.github.io/pull/430) might fix it.

Since there seems to be no movement on this I'll give this a go, if anyone is working on it, please let me know 🙂

[2022-10-22 18:14] vasconsaurus commented on #438
actually, the solution in [PR#430](https://github.com/open-life-science/open-life-science.github.io/pull/430) also fixes this one, since the variable `dark-green` was changed

[2022-10-22 18:24] vasconsaurus commented on #432
@tnwoodard, you could maybe make a PR draft, explain what this issue is, what you want to achieve, and link some screenshots. So we can take a look at what is going on, and your changes and help you out

[2022-10-22 18:46] vasconsaurus opened #488 "When multiple authors the 'by' section of the project gets messy"
### Description
1. Inside projects in the [projects and participants page](https://openlifesci.org/ols-1/projects-participants/#projects), when we have multiple authors and are viewing on mobile, the avatars stick to the links underlines. This however might be solved by [PR#430](https://github.com/open-life-science/open-life-science.github.io/pull/430).

2. This might be more subjective, but I thi

[2022-10-22 18:47] vasconsaurus commented on #488
What do you think @bebatut? Could I work on this after #430 is merged?

[2022-10-22 19:52] Chimatara commented on #439
Hi @bebatut can you please review the PR I made on this issue, here is the link
https://github.com/open-life-science/open-life-science.github.io/pull/489/commits/c64789576b001ed5cf4c85aefcfc5ec821961b0a

![Screenshot (20)](https://user-images.githubusercontent.com/65595525/197359790-9c69868e-5501-401b-b14c-230b61461cb8.png)

[2022-10-24 05:40] #416 closed

[2022-10-24 08:42] bebatut commented on #488
I think you could already work on that if you want, I think it is independent of the link in #430. It is more about alignment of the text and avatar. So I would say, go for it if you want to work on it

[2022-10-24 08:47] NPDebs commented on #418
Hi @bebatut.

For the **Roles in OLS:** part...it shows up for only the organisers of OLS. This is because only organisers have it as a `key:value` pair, under **title**. Shouldn't the other people also have titles, to be displayed as roles on their cards?

![Screenshot_20221024-090424_Chrome~2](https://user-images.githubusercontent.com/105166953/197485771-22fb73eb-3258-4ed3-9492-084ac7a52522.jpg)

[2022-10-24 09:13] bebatut commented on #418
The role of participants (participant, mentor, etc in the different cohorts) are extracted here: https://github.com/open-life-science/open-life-science.github.io/blob/main/_layouts/people.html
It should be displayed, given the code here: https://github.com/open-life-science/open-life-science.github.io/blob/main/_includes/people.html#L59
I did not investigate why it is not the case anymore

[2022-10-24 11:28] vasconsaurus commented on #488
thanks @bebatut, I'll work on it 🙂

[2022-10-25 12:31] #488 closed

[2022-10-25 12:53] #198 closed

[2022-10-25 18:23] tnwoodard commented on #432
Sure. I will send tomorrow. Thanks!

[2022-10-25 22:41] NPDebs commented on #418
Hi @bebatut. 👋

I tweaked the logic a bit and the cards now display the people's **roles**.
Here's a [link](https://github.com/open-life-science/open-life-science.github.io/compare/main...NPDebs:open-life-science.github.io:FixRoles) to the commit.

![Screenshot (330)](https://user-images.githubusercontent.com/105166953/197894659-97d89827-466a-44af-a0d1-106daf10c93f.png)

**Observation:**
- Onclick

[2022-10-25 23:01] NPDebs opened #495 "Link Overflows From Bio-card."
**Current behaviour:**
On the ["peoples"](https://openlifesci.org/people) page, a participant's bio contains a link that overflows from her card.

![Screenshot (331)](https://user-images.githubusercontent.com/105166953/197896480-72043e45-16bc-4259-946b-9a6a619e31ea.png)

**Expected behaviour:**
See line 5262 to 5270 of the [people.yaml](https://github.com/open-life-science/open-life-science.github

[2022-10-25 23:03] NPDebs commented on #495
Hi @AndreaSanchezTapia, @bebatut & @yochannah. 👋

This caught my eye when working earlier. Please have a look when you get the chance. Thanks! 🙌❤️

[2022-10-26 07:36] bebatut commented on #495
Nice catch! Thanks for reporting this issue

[2022-10-26 07:39] bebatut commented on #418
Please open the PR with the fix.
For making `Roles in OLS:` bold, not sure. Because `Expertise` is not bold

[2022-10-26 07:48] NPDebs commented on #418
Thank you! I'll open the PR right away. 😃

Oh, that's true. We either make both bold...or maintain the current state.

[2022-10-26 08:04] NPDebs commented on #495
Thanks, @bebatut. 😃
I'll go announce this on the Slack channel. See if any newcomers want to pick it up! 😄🏃

[2022-10-26 14:40] Jolah1 commented on #495
Hi @bebatut can i work on this issue?

[2022-10-26 14:47] bebatut commented on #495
Sure. I assign it to you

[2022-10-26 14:48] Jolah1 commented on #495
on it........Thank you.

[2022-10-26 16:54] Everythinglayemi commented on #495
![Screenshot (3)](https://user-images.githubusercontent.com/103745001/198074459-bd995b88-9cfd-4265-862d-cc56cd6238eb.png)

On the [peoples](https://openlifesci.org/people) page, participants card information are not properly aligned and the white spaces are inconsistent

@bebatut @yochannah

[2022-10-26 18:13] AndreaSanchezTapia commented on #473
👋 Thanks, @Chimatara! can you remove L.192 "Enable a small website via GitHub"? and edit L.223 and L.336 L.519 to OLS-6?

[2022-10-26 18:20] Chimatara commented on #473
I'll get on it ASAP.

[2022-10-27 06:57] bebatut commented on #495
Fixed with #498

[2022-10-27 06:57] #495 closed

[2022-10-27 10:10] NPDebs commented on #415
@bebatut 👀 May I please be assigned this issue? 🙏

[2022-10-27 11:19] NPDebs commented on #415
Thanks @bebatut.
I've marked the PR as **_ready for review_**.

[2022-10-27 14:12] AndreaSanchezTapia commented on #454
I will close this as completed.

[2022-10-27 14:12] #454 closed

[2022-10-27 14:15] NPDebs opened #504 "One member with two profiles."
**Current Behaviour:**

**Ali Humayun** has two entries in the [people.yaml](https://github.com/open-life-science/open-life-science.github.io/blob/main/_data/people.yaml) file (from line 338). Thus, he has two cards on the _[people](https://openlifesci.org/people#ali-humayun) page._

![Screenshot (343)](https://user-images.githubusercontent.com/105166953/198307751-502e244e-ae7f-4ee6-b66b-451e433f4

[2022-10-27 14:16] NPDebs commented on #504
@bebatut Done. 😀

[2022-10-27 14:20] NPDebs commented on #504
Alexandra Holinski also has two cards. 👀 There might be more.
We should probably fix them all in a single PR.

[2022-10-27 14:23] AndreaSanchezTapia commented on #504
Sure! You can rename the issue and keep pushing to the same PR. Thanks ;)

[2022-10-27 14:37] #474 closed

[2022-10-27 14:42] NPDebs commented on #504
Sounds perfect to me! 💯

Hi Andrea. 🙈 The location on your card has an extra **_a_**. Don't panic. I'll fix it! 😄

[2022-10-27 18:05] NPDebs opened #506 "Link Overflows From Bio-card."
**Current behaviour:**
On the ["peoples"](https://openlifesci.org/people) page, a member's  bio contains a link that overflows from their card.

![Screenshot (347)](https://user-images.githubusercontent.com/105166953/198364895-c70a9337-f20f-46ba-b938-bcb7666dd094.png)

**Expected behaviour:**
In the [people.yaml](https://github.com/open-life-science/open-life-science.github.io/blob/main/_data/peop

[2022-10-27 18:08] NPDebs commented on #506
Hi, @AndreaSanchezTapia & @bebatut.
Caught another one of these. 👀

[2022-10-27 18:46] NPDebs commented on #238
Hi, @bebatut...I think you may have forgotten to close this issue. 👀

[2022-10-28 13:42] adetyaz commented on #506
Please I'd like to work on this issue
@NPDebs @bebatut, can it be assigned to me

[2022-10-28 17:07] tnwoodard commented on #199
Hi @NPDebs and @Abiola-Zeenat. I'd like to review the pull request if it hasn't been yet.  Thank you.

[2022-10-28 18:01] tnwoodard opened #507 "Stories page"
On the stories page, two cool features would be:

1. a search bar to search for stories
2. hashtag the stories by its category like #announcements or #advice

[2022-10-28 18:52] NPDebs commented on #199
Hi @tnwoodard. 👋🏼😃
The initial PR was in the process of being reviewed.
Our mentor had provided an alternative method of adding the required feature. We haven't heard from @Abiola-Zeenat since then. 👀

[2022-10-28 18:54] tnwoodard commented on #199
Thanks for letting me know. I’m here to help if needed. Take care! 👋🏾

On Fri, Oct 28, 2022 at 7:52 PM Deborah Udoh ***@***.***>
wrote:

[2022-10-30 10:19] adetyaz commented on #507
@tnwoodard hello please can I work on this or join you if you are already, and can it be assigned/co-assigned to me @bebatut.

[2022-10-30 11:33] tnwoodard commented on #507
Hi @adetyaz and @bebatut. It hasn't been assigned to me yet, but I'm open to working on it with you.

[2022-10-30 13:59] NPDebs commented on #434
Hi @bebatut. 👋🏼
I have a fix for this. Could you please assign this to me? Thanks!

[2022-10-31 07:59] Munnachienyi opened #511 "overflow in the mentees page for OLS/6 even for small screen"
I was scrolling through the mentee's page for cohort 6 and found out there was a link overflowing where the location of the mentee is placed.

here is a picture:
![Screenshot_20221031_085223](https://user-images.githubusercontent.com/105428107/198959546-c6dd5605-414c-4289-8097-9565b23bde7f.png)

[2022-10-31 13:35] adetyaz commented on #507
@tnwoodard hello, have you started on this, so I know what part to pick and work on. I'm quite knew to using jekyll, I'd like to message on slack to know how to move forward

[2022-10-31 13:50] tnwoodard commented on #507
@bebatut Is it ok to start working on this enhancement with @adetyaz?

[2022-10-31 17:16] AndreaSanchezTapia commented on #511
Thank you! this was pointed out in issue #506 and @adetyaz worked on it. I will close this due to repetition.

[2022-10-31 17:16] #511 closed

[2022-10-31 18:29] AndreaSanchezTapia commented on #504
@NPDebs, we have Juan José García-Granero and Juanjo García-Granero (his GitHub link is broken, though). Could you fix that one, please? I think (I hope!) it's the last one. 🙏

[2022-10-31 18:32] AndreaSanchezTapia commented on #504
Maybe we should open one extra issue about the sorting for that page, it's sorting by GitHub handles, which makes the display confusing. Could we sort by First Name? (In a different issue!) @bebatut (Just tagging you, no hurries)

[2022-10-31 18:39] NPDebs commented on #504
Sure. I'm all over it! 😀

[2022-10-31 18:43] NPDebs commented on #504
That actually makes sense, because I noticed the names aren't all in alphabetical order...which is weird. The one displayed on the card, not the (hidden) Github username should be more appropriate for sorting.

Unless there is another reason we are sorting this way. 💭

[2022-10-31 21:03] #238 closed

[2022-10-31 21:22] AndreaSanchezTapia commented on #436
Linking PR #469

[2022-10-31 21:29] #437 closed

[2022-11-02 08:09] bebatut commented on #507
Regarding your ideas:
1. What do you have in mind for the search bar? How would you do that? Where?
2. Regarding the tags, @oluwatobiBolu is already working on it in this PR #482

[2022-11-02 12:24] tnwoodard commented on #507
1 and 2. I'm thinking of a basic search bar using HTML, CSS and Javascript at the top of the page. With each keystroke, an event listener in Javascript will get the search input and display the article that is the closest match. After @oluwatobiBolu finishes, I can try to add a feature in the search bar to search by category/tag as well.

Thank you for your consideration!

[2022-11-03 20:43] #473 closed

[2022-11-04 20:15] tnwoodard commented on #507
@bebatut: I have decided to work on the search bar. I will provide a search bar before the 3 day mark.

@adetyaz: If it is regarding the search bar, I prefer we communicate in this thread. That way we can avoid confusion, and @bebatut can have a record of our communications.  Thanks.

[2022-11-05 20:05] #507 closed

[2022-11-16 11:12] yochannah opened #520 "Add "donate" link to footer and/or nav menu"
This is the link: https://donate.stripe.com/fZe9D71dT9Y36aY6oo

[2022-11-18 11:02] nickynicolson opened #521 "Add mastodon profiles to user card display"
eg those shown under:  https://openlifesci.org/ols-6/projects-participants/#participants

- [x] Add mastodon profile link to `_data/people.yaml`
- [x] Modify `_includes/people.html` to display mastodon profile link with appropriate fa icon (`<i class="fab fa-mastodon"></i>`)
- [x] Modify README instructions on manual addition of people to include mastodon profile details, if available
- [x] Add `p

[2022-11-18 11:34] nickynicolson opened #522 "Modify bulk user import to include mastodon details"
(Initial inclusion of mastodon details proposed in issue #521)

- [ ] Modify bulk import at `bin/prepare_website_data.py`
- [ ] Modify bulk import instructions in README